USE [ETLProcedureRepository]
GO
/****** Object:  StoredProcedure [dbo].[sp_PressGaney_HCAHPS]    Script Date: 8/13/2025 10:04:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*-- =============================================
------ Author:		Huyen-Trang Pham
------ Create date: 11/23/2024
------ Description:	get dataset for Press Ganey's Inpatient Survey
----		Based on current CMS protocol, your responsibilities are listed below. 
----		• Send all Inpatient discharges within 35 days of discharge 
----		• Press Ganey does not keep a record of state exclusion regulations. Please refer to your Internal 
----		Counsel for more information. 
----		• Update required data that was either missing or incorrect at the time of upload. 
----		o Addresses may be corrected with an update file. Records identified as having invalid addresses 
----		are noted in the Invalid Contact Report. 
----		• Indicate which fields and values will identify patients who are not eligible for HCAHPS but who 
----		should be included for other Press Ganey inpatient sampling. 
----		o Example: Observation patients who are not admitted as inpatients but who you would like to 
----		receive some type of inpatient survey. 
----		• The most current version of MS-DRG codes must be sent for all patient records, regardless of 
----		payer.
----  Per Helena R. Ackerson, 12/05/24:
--		Confirmed. HCAHPS does include observation patients.
--		Exclusions from HCAHPS:
--			Expired patients
--			Pediatric
--			Psychiatric patients
--			Plus the following are also excluded:
			 
			 [dbo].[sp_PressGaney_HCAHPS]  'mb-1', 'me-1'

------	Change:		Ed DeCelie
------	Change date: 06/23/2025
------	Added @update which defaults to off, when set to 1 will take path that treats @StartDate and @EndDate literally
------		and will seek out data only for the date range specified and use the table ETLProcedureRepository.dbo.[CAHPSSurveyDemographicDetail] 
------		as a driver

-- 7/25/25	HTP Edit the way we pull update data
------ =============================================*/

ALTER PROCEDURE [dbo].[sp_PressGaney_HCAHPS] 
	@StartDate varchar(10)
	,@EndDate varchar(10)
	,@update int = 0
AS

BEGIN TRY
	SET NOCOUNT ON;


	declare	@StartDateInt		bigint
			, @EndDateInt		bigint
			, @file_type		varchar(10) = 'HCAHPS'
			, @maxD				datetime 
			, @selfCorrectDate	int
			, @tmpDate			date
			, @errmsg			varchar(255)

	--if (@update = 0)
	--begin
		if (@StartDate is null)
			set @StartDate = 't-30'
		if (@EndDate is null)
			set @EndDate = 't'   

		-- self-corrected lookback date for DR purpose
		select @maxD = max(created_date) from [ETLProcedureRepository].[dbo].[PressGaney_TrackingRecords] where file_type = @file_type
		select @selfCorrectDate = datediff(dd, @maxD, getdate())
		if (@maxD < DATEADD(dd, - 9, getdate()))
			select @StartDate = 't - ' + cast((30 + @selfCorrectDate) as varchar(2))  	
	
		select @StartDateInt  = cast(format([ETLProcedureRepository].dbo.MH_Interpret_Start_Date_Fn(@StartDate), 'yyyyMMdd') as bigint)
			 , @EndDateInt  = cast(format([ETLProcedureRepository].dbo.MH_Interpret_End_Date_Fn(@EndDate), 'yyyyMMdd') as bigint)

	--end
	--else
	--begin
	--	-- Convert what was passed to an integer form of date in YYYYMMDD format for StartDate and EndDate
	--	if isdate(@StartDate) = 0
	--	begin
	--		set @errmsg = 'Invalid character date value passed for StartDate with update option: ' + coalesce(@StartDate, 'null')
	--		raiserror(@errmsg, 16, 1)
	--	end
	--	else
	--	begin
	--		set @StartDateInt = try_convert(int, @StartDate)
	--		if @StartDateInt is null
	--		begin
	--			set @errmsg = 'Unable to convert StartDate to integer: ' + coalesce(@StartDate, 'null')
	--			raiserror(@errmsg, 16, 1)
	--		end
	--	end

	--	if isdate(@EndDate) = 0
	--	begin
	--		set @errmsg = 'Invalid character date value passed for EndDate with update option: ' + coalesce(@EndDate, 'null')
	--		raiserror(@errmsg, 16, 1)
	--	end
	--	else
	--	begin
	--		set @EndDateInt = try_convert(int, @EndDate)
	--		if @EndDateInt is null
	--		begin
	--			set @errmsg = 'Unable to convert EndDate to integer: ' + coalesce(@EndDate, 'null')
	--			raiserror(@errmsg, 16, 1)
	--		end
	--	end
	--end

	
	-- get list of inpatients that get discharge within 35 days
	drop table if exists #inpatients
	select distinct PatientDurableKey, PatientKey, HospitalAccountEpicId
					, MsDrgKey
					, DepartmentKey
					, EncounterKey
					, DischargeDisposition
					, InpatientAdmissionInstant
					, DischargeInstant
					, AdmissionTimeOfDayKey
					, DischargeTimeOfDayKey
					, AdmissionSource
					, PatientClass
					, DischargePatientClass
					, DischargingProviderDurableKey
					, DischargingProviderKey
					, AdmissionBedRequestKey
					, PrimaryCoverageKey
					, LengthOfStayInDays
					, HospitalService
					, d.YearsDisplayString PatAge
					, PrincipalProblemKey
					, AdmissionDateKey
	into #inpatients
	from CDW_report.FullAccess.HospitalAdmissionFact ha with (nolock)
		inner join CDW_report.dbo.DurationDim d  with (nolock) on ha.AgeKey = d.DurationKey
	where 0 = 1

	if @update = 0
		insert into #inpatients(PatientDurableKey, PatientKey, HospitalAccountEpicId, MsDrgKey, DepartmentKey, EncounterKey
								, DischargeDisposition, InpatientAdmissionInstant, DischargeInstant, AdmissionTimeOfDayKey, DischargeTimeOfDayKey
								, AdmissionSource, PatientClass, DischargePatientClass
								, DischargingProviderDurableKey, DischargingProviderKey, AdmissionBedRequestKey, PrimaryCoverageKey
								, LengthOfStayInDays, HospitalService, PatAge, PrincipalProblemKey, AdmissionDateKey
							   )
		select distinct ha.PatientDurableKey, ha.PatientKey, ha.HospitalAccountEpicId, ha.MsDrgKey, ha.DepartmentKey, ha.EncounterKey
						, ha.DischargeDisposition, ha.InpatientAdmissionInstant, ha.DischargeInstant, ha.AdmissionTimeOfDayKey, ha.DischargeTimeOfDayKey
						, AdmissionSource, PatientClass, DischargePatientClass
						, ha.DischargingProviderDurableKey, ha.DischargingProviderKey, ha.AdmissionBedRequestKey, ha.PrimaryCoverageKey
						, ha.LengthOfStayInDays, ha.HospitalService, d.YearsDisplayString PatAge, ha.PrincipalProblemKey, ha.AdmissionDateKey
		from CDW_report.FullAccess.HospitalAdmissionFact ha with (nolock)
			inner join CDW_report.dbo.DurationDim d  with (nolock) on ha.AgeKey = d.DurationKey 
		where DischargeDateKey between @StartDateInt and @EndDateInt
			and DischargePatientClass in ('Inpatient' , 'Observation')  -- 'Observation' patient is included by Helena A.
			and d.Years > 17 -- exclude pediatric
	else
		insert into #inpatients(PatientDurableKey, PatientKey, HospitalAccountEpicId, MsDrgKey, DepartmentKey, EncounterKey
								, DischargeDisposition, InpatientAdmissionInstant, DischargeInstant, AdmissionTimeOfDayKey, DischargeTimeOfDayKey
								, AdmissionSource, PatientClass, DischargePatientClass
								, DischargingProviderDurableKey, DischargingProviderKey, AdmissionBedRequestKey, PrimaryCoverageKey
								, LengthOfStayInDays, HospitalService, PatAge, PrincipalProblemKey, AdmissionDateKey
							   )
		select distinct ha.PatientDurableKey, ha.PatientKey, ha.HospitalAccountEpicId, ha.MsDrgKey, ha.DepartmentKey, ha.EncounterKey
						, ha.DischargeDisposition, ha.InpatientAdmissionInstant, ha.DischargeInstant, ha.AdmissionTimeOfDayKey, ha.DischargeTimeOfDayKey
						, AdmissionSource, PatientClass, DischargePatientClass
						, ha.DischargingProviderDurableKey, ha.DischargingProviderKey, ha.AdmissionBedRequestKey, ha.PrimaryCoverageKey
						, ha.LengthOfStayInDays, ha.HospitalService, d.YearsDisplayString PatAge, ha.PrincipalProblemKey, ha.AdmissionDateKey
		from CDW_report.FullAccess.HospitalAdmissionFact ha with (nolock)
			inner join CDW_report.dbo.DurationDim d  with (nolock) on ha.AgeKey = d.DurationKey 
			inner join ETLProcedureRepository.[dbo].[CAHPS_Error] err 
							on err.Unique_ID = case when len(err.Unique_ID) = 8 then ha.HospitalAccountEpicId else ha.EncounterKey end
							and CAHPS_file = 'H'
		--inner join ( select distinct sdd.ComputedUniqueId as EncounterKey, CAST([Instance Date] AS INT) InstanceDate
		--			   from ETLProcedureRepository.dbo.[CAHPSSurveyDemographicDetail] sdd (nolock)
		--			  where CAST([Instance Date] AS INT) between @StartDateInt and @EndDateInt
		--				and sdd.CahpsInd = 'I' -- Inpatient
		--			) sdd
		--		on sdd.EncounterKey = ha.EncounterKey
		--		and ha.DischargeDateKey = InstanceDate
		--where ha.DischargeDateKey between @StartDateInt and @EndDateInt
		--	and DischargePatientClass in ('Inpatient' , 'Observation')  -- 'Observation' patient is included by Helena A.
		--	and d.Years > 17 -- exclude pediatric

	-- get all services/places a patient has during a hospital stay -- this is for 'Service' column -- need more definition
	-- if based on latest ProcedureEndInstant, there can be a group of them -- how to know which one to pick?
	drop table if exists #lastService
	select PatientDurableKey, PatientKey, EncounterKey, ShortName LastService, ProcedureEndInstant
	into #lastService
	from (
		select inpat.PatientDurableKey, inpat.PatientKey, inpat.EncounterKey
			, pro.ShortName
			, procEv.ProcedureEndInstant
			, ROW_NUMBER() over (partition by procEv.EncounterKey order by ProcedureEndInstant desc) rn
		from #inpatients inpat
			inner join CDW_report.FullAccess.ProcedureEventFact procEv  with (nolock) on inpat.EncounterKey = procEv.EncounterKey			
			inner join CDW_report.FullAccess.ProcedureDim pro  with (nolock) on procEv.ProcedureKey = pro.ProcedureKey	
	) t
	where rn = 1 

	-- get mobile phone numbers
	drop table if exists #mobile
	select PatientDurableKey, OTHER_COMMUNIC_NUM
	into #mobile
	from
	(																				-- asume smaller the number, higher the priority
		select distinct s.PatientDurableKey, ph.OTHER_COMMUNIC_NUM, CONTACT_PRIORITY, min(CONTACT_PRIORITY) over (partition by PAT_ID) highestCP
		from #inpatients s
			inner join CDW_report.FullAccess.PatientDim p with (nolock) on s.PatientDurableKey = p.DurableKey
				inner join CLARITY.dbo.OTHER_COMMUNCTN ph with (nolock) on p.PatientEpicId = ph.PAT_ID and ph.OTHER_COMMUNIC_C = 1  -- 1 is mobile number
	) t
	where CONTACT_PRIORITY = highestCP

	-- get excluded patients
	drop table if exists #excludePat
	select distinct PAT_ID 
	into #excludePat
	from CLARITY.dbo.PATIENT_TYPE patT
		inner join CLARITY.dbo.ZC_PATIENT_TYPE zc on patT.PATIENT_TYPE_C = zc.PATIENT_TYPE_C and zc.PATIENT_TYPE_C in (2,6) -- 2 confidential, 6 prisioner

	-- get the latest drg version
	declare @drg_current_ver varchar(30) 
	select @drg_current_ver = 'MS-DRG v' + max(SUBSTRING(version, PATINDEX('%[0-9]%', version), len(version))) from CDW_report.dbo.DrgDim where DrgCodeSet = 'MS-DRG' and version like '%[0-9]%'

	-- get inpatient data
	DROP TABLE IF EXISTS #HCAPHS

	SELECT 
		[Survey Designator] = 'IN0101' -- case when pat.AgeInYears > 17 then 'IN0101' else 'IN0102' end  -- no pediatric per HRA
		, [Client ID] = loc.[PressGaneyId]
		, [Last Name] = pat.LastName
		, [Middle Initial] = left(pat.MiddleName,1)
		, [First Name] = pat.FirstName
		, [Address 1] = pat.AddressLine1_X
		, [Address 2] = pat.AddressLine2_X
		, [City] = pat.City
		, [State] = pat.StateOrProvinceAbbreviation
		, [ZIP Code] = pat.PostalCode
		, [Telephone Number] = pat.HomePhoneNumber
		, [Mobile Number] = COALESCE(phone.OTHER_COMMUNIC_NUM, '')
		, [MS-DRG] = COALESCE(drg.Code, '')		-- M
		, [Gender] = case pat.Sex when 'Male' then '1'
								  when 'Female' then '2'
								  else 'M' end  -- Unknown/Missing
		, [Race]	= pat.FirstRace	 
		, [Ethnicity] = pat.Ethnicity
		, [Date of Birth] = format(pat.BirthDate, 'MMddyyyy')
		, [Language]  = pat.PreferredWrittenLanguage_X  
		, [Medical Record Number] = pat.EnterpriseId
		, [Unique ID] = inpat.EncounterKey 
		, [Location Code] = dep.LocationEpicId 
		, [Location Name] = dep.LocationName
		, [Attending Physician NPI] = prov.Npi			-- using discharge provider's data based on Helena A.'s confirmation 20241120
		, [Attending Physician Name]  = prov.Name
		, [Provider Type] = prov.Type
		, [Provider specialty] = prov.PrimarySpecialty	
		, [Site address 1] = dep.Address				-- site where the patient was discharged
		, [Site address 2] = ''
		, [Site city] = dep.City
		, [Site state] = dep.StateOrProvinceAbbreviation
		, [Site zip] = dep.PostalCode
		, [Patient Admission Source] = coalesce(enc.AdmissionSourceCode, '9')	
		, [Visit or Admit Date] = format(adat.DateValue, 'MMddyyyy') 
		, [Visit or Admit Time] = Atime.DisplayString24Hour -- optional
		, [Discharge Date] = format(inpat.DischargeInstant, 'MMddyyyy')
		, [Discharge Time] = Dtime.DisplayString24Hour -- optional
		, [Patient Discharge Status] = coalesce(enc.DischargeDispositionCode, 'M')
		, [Unit] = dep.DepartmentName		-- get the department name where the patient was discharged
		, [Service] = COALESCE(lser.LastService, '') -- inpat.HospitalService  -- SERVICE LINE not anything in particular, this is for MH to group on
		, [Specialty] = coalesce(bed.DepartmentSpecialty, '')
		, [Payor / Insurance / Financial Class] = cov.PayorName
		, [Length of Stay] = inpat.LengthOfStayInDays
		, [Room] = coalesce(bed.RoomName, '')
		, [Bed] = coalesce(bed.BedName, '')
		-- these 2 fields are optional ... don't have time to find them 
		--, [Hospitalist] =
		--, [Fast Track or Acute Flag] 
		, [Email] = pat.EmailAddress
		, [ER_ADMIT] = case when inpat.AdmissionSource = 'Emergency Room' then 'Y' else 'N' end
		, [Deceased Flag] = case when pat.DeathDate is not null then 'Y' else 'N' end
		, [No Publicity Flag] = 'N' -- Epic doesn't store this info. Press Ganey is provided with the list to exclude from their end.
		, [State Regulation Flag] = 'N' -- already excluded them
		, [Newborn patient] = case when inpat.PatientClass = 'Newborn' then 'Y' else 'N' end
		, [ICD-10] = diaTerm.[Value]
		, '$' EOR	
	into #HCAPHS
	from #inpatients inpat
		inner join CDW_Report.FullAccess.PatientDim pat  with (nolock) on inpat.PatientDurableKey = pat.DurableKey and pat.IsCurrent = 1 -- and inpat.PatientKey = pat.PatientKey
			and pat.PatientEpicId not in (select PAT_ID from #excludePat)
			left join #mobile phone on inpat.PatientDurableKey = phone.PatientDurableKey
		left join CDW_report.FullAccess.DrgDim drg with (nolock) on inpat.MsDrgKey = drg.DrgKey and drg.DrgCodeSet = 'MS-DRG' --and drg.[Version] = @drg_current_ver
		inner join CDW_Report.FullAccess.DepartmentDim dep with (nolock)  on inpat.DepartmentKey = dep.DepartmentKey and IsDepartment = 1
			and dep.LocationEpicId not in ( '11016', '11017') --MaineHealth Behavioral Health at Spring Harbor is not on PG's list
		inner join CDW_Report.FullAccess.EncounterFact enc with (nolock)  on inpat.EncounterKey = enc.EncounterKey
			left join CDW_report.FullAccess.DiagnosisDim dia on enc.PrimaryDiagnosisKey = dia.DiagnosisKey
				inner join CDW_report.FullAccess.DiagnosisTerminologyDim diaTerm on dia.DiagnosisKey = diaTerm.DiagnosisKey and diaTerm.[Type] = 'ICD-10-CM'
		inner join CDW_Report.FullAccess.TimeOfDayDim Atime with (nolock)  on inpat.AdmissionTimeOfDayKey = Atime.TimeOfDayKey
		inner join CDW_Report.FullAccess.TimeOfDayDim Dtime with (nolock)  on inpat.DischargeTimeOfDayKey = Dtime.TimeOfDayKey
		inner join CDW_report.FullAccess.ProviderDim prov with (nolock)  on inpat.DischargingProviderDurableKey = prov.DurableKey and inpat.DischargingProviderKey = prov.ProviderKey
		inner join CDW_report.FullAccess.CoverageDim cov with (nolock)  on inpat.PrimaryCoverageKey = cov.CoverageKey
		inner join CDW_report.FullAccess.BedRequestFact bedreq with (nolock)  on inpat.AdmissionBedRequestKey = bedreq.BedRequestKey
			left join CDW_report.FullAccess.DepartmentDim bed with (nolock)  on bed.DepartmentKey = bedreq.DestinationBedKey and bed.IsBed = 1
		left join #lastService lser on inpat.PatientDurableKey = lser.PatientDurableKey and inpat.EncounterKey = lser.EncounterKey
		inner join [EDW_Epic_DMart].[dbo].[DepartmentDimExt] loc with (nolock)  on inpat.DepartmentKey = loc.DepartmentKey --and loc.is_department = 1
			and loc.[PressGaneyId] is not null and loc.PressGaneyId <> 16107
		inner join CDW_report.FullAccess.DateDim adat with (nolock)  on inpat.AdmissionDateKey = adat.DateKey

	if @update = 0 -- not update file being sent otherwise don't do this
	begin
		-- delete record that were uploaded last week
		delete from #HCAPHS
		where [Unique ID] in (select [unique_ID] from [ETLProcedureRepository].[dbo].[PressGaney_TrackingRecords] where [file_type] = @file_type )

		-- track the records that being sent this time
		insert into [ETLProcedureRepository].[dbo].PressGaney_TrackingRecords ([file_type],[unique_ID])
		select @file_type, [Unique ID] from #HCAPHS
	end

	-- OUTPUT
		select distinct *  from #HCAPHS where [ICD-10] = 'z33.2' -- miscarriage cases
		union
		select * from (			-- multiple rows due to 1:n relationship between diagnosisKey:Value -- just take top icd-10 value
			select top 1 with ties *  from #HCAPHS 
			where [Medical Record Number] not in (select distinct [Medical Record Number] from #HCAPHS where [ICD-10] = 'z33.2')
			order by row_number() over (partition by [Medical Record Number], [Unique ID] order by [ICD-10]) 
		) t



END TRY
BEGIN CATCH
	EXEC [ETLProcedureRepository].[dbo].[sp_logErrorInfo] 'VMMHSQLSSIS.SSISDB.DE_EpicExtracts.HCAHPS' ;
	THROW;
END CATCH


