



	Declare @StartDate varchar(10) = '04/01/2024'
	Declare @EndDate varchar(10) = '04/30/2024'
	Declare @StartDateInt bigint
		  , @EndDateInt bigint
		  , @file_type varchar(10) = 'HCAHPS'
		  , @maxD datetime 
		  , @selfCorrectDate int

	If (@StartDate is null)
		Set @StartDate = 't-30'
	If (@EndDate is null)
		Set @EndDate = 't'   

	-- self-corrected lookback date for DR purpose
	SELECT @maxD = max(created_date) FROM [ETLProcedureRepository].[dbo].[PressGaney_TrackingRecords] WHERE file_type = @file_type
	SELECT @selfCorrectDate = datedIff(dd, @maxD, getdate())
	If (@maxD < DATEADD(dd, - 9, getdate()))
		SELECT @StartDate = 't - ' + cast((30 + @selfCorrectDate) as varchar(2))  	
	
	SELECT @StartDateInt  = cast(format([ETLProcedureRepository].dbo.MH_Interpret_Start_Date_Fn(@StartDate), 'yyyyMMdd') as bigint)
		 , @EndDateInt  = cast(format([ETLProcedureRepository].dbo.MH_Interpret_End_Date_Fn(@EndDate), 'yyyyMMdd') as bigint)

	--**********Clean up temp tables *************
	If OBJECT_ID('tempdb..#inpatients') IS NOT NULL
		DROP TABLE #inpatients;
	If OBJECT_ID('tempdb..#lastService') IS NOT NULL
		DROP TABLE #lastService;
	If OBJECT_ID('tempdb..#mobile') IS NOT NULL
		DROP TABLE #mobile;
	If OBJECT_ID('tempdb..#excludePat') IS NOT NULL
		DROP TABLE #excludePat;		
	If OBJECT_ID('tempdb..#HCAPHS') IS NOT NULL
		DROP TABLE #HCAPHS;			
	If OBJECT_ID('tempdb..#cptList') IS NOT NULL
		DROP TABLE #cptList;			

	-- get list of inpatients that get discharge within 35 days
	SELECT DISTINCT ha.PatientDurableKey, ha.PatientKey, HospitalAccountEpicId
		, MsDrgKey
		, ha.DepartmentKey
		, EncounterKey
		, DischargeDisposition
		, InpatientAdmissionInstant
		, DischargeInstant
		, ha.AdmissionTimeOfDayKey
		, ha.DischargeTimeOfDayKey
		, ha.AdmissionSource
		, PatientClass
		, DischargePatientClass
		, ha.DischargingProviderDurableKey
		, ha.DischargingProviderKey
		, AdmissionBedRequestKey
		, ha.PrimaryCoverageKey
		, LengthOfStayInDays
		, HospitalService
		, d.YearsDisplayString PatAge
		, PrincipalProblemKey
		, ha.AdmissionDateKey
		, bill.DiagnosisComboKey

	INTO #inpatients
	FROM CDW_report.FullAccess.HospitalAdmissionFact ha with (nolock)
		inner join CDW_report.dbo.DurationDim d  with (nolock) on ha.AgeKey = d.DurationKey 
		left  join  CDW_report.dbo.BillingAccountFact bill on ha.PatientDurableKey = bill.PatientDurableKey
	WHERE ha.DischargeDateKey between @StartDateInt and @EndDateInt
		and DischargePatientClass in ('Inpatient' , 'Observation')  -- 'Observation' patient is included by Helena A.
		and d.Years > 17 -- exclude pediatric

		 
		---- crosstab each surgery case into 6 procedure  
		select PatientDurableKey, PatientKey
			, max(case when rn = 1 then Cpt end) as CPT1
			, max(case when rn = 2 then Cpt end) as CPT2
			, max(case when rn = 3 then Cpt end) as CPT3
			, max(case when rn = 4 then Cpt end) as CPT4
			, max(case when rn = 5 then Cpt end) as CPT5
			, max(case when rn = 6 then Cpt end) as CPT6
		into #cptList
		from 
		(	-- OAS CAHPS ITTI.pdf, p. 14, only 6 procedure codes is needed, filter list for CPT is from this page
			-- according to PG, order in Clarity is not necessary
			select	top 6 with ties pat.PatientDurableKey, pat.PatientKey, coalesce(pro.CptCode, pro.Code) Cpt
					, ROW_NUMBER() over (partition by PatientDurableKey order by ProcedureKey) rn
			from #inpatients pat
				inner join CDW_report.FullAccess.ProcedureBridge pro with (nolock) on pat.DiagnosisComboKey = pro.ProcedureComboKey
			order by case when ROW_NUMBER() over (partition by PatientDurableKey order by PatientKey) <= 6 then 0 else 1 end
		)t
		group by PatientDurableKey, PatientKey



	-- get all services/places a patient has during a hospital stay -- this is for 'Service' column -- need more definition
	-- If based on latest ProcedureEndInstant, there can be a group of them -- how to know which one to pick?
	SELECT PatientDurableKey, PatientKey, EncounterKey, ShortName LastService, ProcedureEndInstant
	INTO #lastService
	FROM (
		SELECT inpat.PatientDurableKey, inpat.PatientKey, inpat.EncounterKey
			, pro.ShortName
			, procEv.ProcedureEndInstant
			, ROW_NUMBER() over (partition by procEv.EncounterKey order by ProcedureEndInstant desc) rn
		FROM #inpatients inpat
			inner join CDW_report.FullAccess.ProcedureEventFact procEv  with (nolock) on inpat.EncounterKey = procEv.EncounterKey			
			inner join CDW_report.FullAccess.ProcedureDim pro  with (nolock) on procEv.ProcedureKey = pro.ProcedureKey	
	) t
	WHERE rn = 1 

	-- get mobile phone numbers
	SELECT PatientDurableKey, OTHER_COMMUNIC_NUM
	INTO #mobile
	FROM
	(																				-- asume smaller the number, higher the priority
		SELECT DISTINCT s.PatientDurableKey, ph.OTHER_COMMUNIC_NUM, CONTACT_PRIORITY, min(CONTACT_PRIORITY) over (partition by PAT_ID) highestCP
		FROM #inpatients s
			inner join CDW_report.FullAccess.PatientDim p with (nolock) on s.PatientDurableKey = p.DurableKey
				inner join CLARITY.dbo.OTHER_COMMUNCTN ph with (nolock) on p.PatientEpicId = ph.PAT_ID and ph.OTHER_COMMUNIC_C = 1  -- 1 is mobile number
	) t
	WHERE CONTACT_PRIORITY = highestCP

	-- get excluded patients
	SELECT DISTINCT PAT_ID 
	INTO #excludePat
	FROM CLARITY.dbo.PATIENT_TYPE patT
		inner join CLARITY.dbo.ZC_PATIENT_TYPE zc on patT.PATIENT_TYPE_C = zc.PATIENT_TYPE_C and zc.PATIENT_TYPE_C in (2,6) -- 2 confidential, 6 prisioner

	-- get the latest drg version
	declare @drg_current_ver varchar(30) 
	SELECT @drg_current_ver = 'MS-DRG v' + max(SUBSTRING(version, PATINDEX('%[0-9]%', version), len(version))) FROM CDW_report.dbo.DrgDim WHERE DrgCodeSet = 'MS-DRG' and version like '%[0-9]%'

	-- get inpatient data
	SELECT 
		[Survey Designator] = 'IN0101' -- case when pat.AgeInYears > 17 then 'IN0101' else 'IN0102' end  -- no pediatric per HRA
		, [Client ID] = loc.[PressGaneyId]
		, [Last Name] = pat.LastName
		, [Middle Initial] = left(pat.MiddleName,1)
		, [First Name] = pat.FirstName
		, [Address 1] = pat.AddressLine1_X
		, [Address 2] = pat.AddressLine2_X
		, [City] = pat.City
		, [State] = pat.StateOrProvinceAbbreviation
		, [ZIP Code] = pat.PostalCode
		, [Telephone Number] = pat.HomePhoneNumber
		, [Mobile Number] = phone.OTHER_COMMUNIC_NUM
		, [MS-DRG] = drg.Code		-- M
		, [Gender] = case pat.Sex when 'Male' then '1'
								  when 'Female' then '2'
								  else 'M' end  -- Unknown/Missing
		, [Race]	= pat.FirstRace	 
		, [Ethnicity] = pat.Ethnicity
		, [Date of Birth] = format(pat.BirthDate, 'MMddyyyy')
		, [Language]  = pat.PreferredWrittenLanguage_X  
		, [Medical Record Number] = pat.EnterpriseId
		, [Unique ID] = inpat.EncounterKey 
		, [Location Code] = dep.LocationEpicId 
		, [Location Name] = dep.LocationName
		, [Attending Physician NPI] = prov.Npi			-- using discharge provider's data based on Helena A.'s confirmation 20241120
		, [Attending Physician Name]  = prov.Name
		, [Provider Type] = prov.Type
		, [Provider specialty] = prov.PrimarySpecialty	
		, [Site address 1] = dep.Address				-- site WHERE the patient was discharged
		, [Site address 2] = null
		, [Site city] = dep.City
		, [Site state] = dep.StateOrProvinceAbbreviation
		, [Site zip] = dep.PostalCode
		, [Patient Admission Source] = enc.AdmissionSourceCode	
		, [Visit or Admit Date] = format(adat.DateValue, 'MMddyyyy') 
		, [Visit or Admit Time] = Atime.DisplayString24Hour -- optional
		, [Discharge Date] = format(inpat.DischargeInstant, 'MMddyyyy')
		, [Discharge Time] = Dtime.DisplayString24Hour -- optional
		, [Patient Discharge Status] = enc.DischargeDispositionCode
		, [Unit] = dep.DepartmentName		-- get the department name WHERE the patient was discharged
		, [Service] = inpat.HospitalService  -- SERVICE LINE not anything in particular, this is for MH to group on
		, [Specialty] = bed.DepartmentSpecialty
		, [Payor / Insurance / Financial Class] = cov.PayorName
		, [Length of Stay] = inpat.LengthOfStayInDays
		, [Room] = bed.RoomName
		, [Bed] = bed.BedName
		, [Hospitalist] = '' -- Not Required
		, [Fast Track or Acute Flag] = '' -- Not Required 
		, [Email] = pat.EmailAddress
		, [Hospitalist_1] = '' --TODO 
		, [Hospitalist_2]  = '' --TODO
		, [ER_ADMIT] = case when inpat.AdmissionSource = 'Emergency Room' then 'Y' else 'N' end
		, [Other Diagnosis or Procedure Code] = diaTerm.[Value] -- Not sure if needed of correct. 	
		, [Procedure Code 1] = cptPat.CPT1		
		, [Procedure Code 2] = cptPat.CPT2
		, [Procedure Code 3] = cptPat.CPT3
		, [Procedure Code 4] = cptPat.CPT4
		, [Procedure Code 5] = cptPat.CPT5
		, [Procedure Code 6] = cptPat.CPT6
		, [Deceased Flag] = case when pat.DeathDate is not null then 'Y' else 'N' end
		, [No Publicity Flag] = 'N' -- Epic doesn't store this info. Press Ganey is provided with the list to exclude FROM their end.
		, [State Regulation Flag] = 'N' -- already excluded them
		, [Newborn patient] = case when inpat.PatientClass = 'Newborn' then 'Y' else 'N' end
		, [ICD-10] = diaTerm.[Value] -- Moved to Other Diag
		,[Transferred/admitted to inpatient] = '' --TODO --Ambulatory Surgery/OAS CAHPS only Y/N
		, '$' EOR	
	INTO #HCAPHS
	FROM #inpatients inpat
		inner join CDW_Report.FullAccess.PatientDim pat  with (nolock) on inpat.PatientDurableKey = pat.DurableKey and pat.IsCurrent = 1 -- and inpat.PatientKey = pat.PatientKey
				   and pat.PatientEpicId not in (SELECT PAT_ID FROM #excludePat)
		left join #mobile phone on inpat.PatientDurableKey = phone.PatientDurableKey
		left join  CDW_report.FullAccess.DrgDim drg with (nolock) on inpat.MsDrgKey = drg.DrgKey and drg.DrgCodeSet = 'MS-DRG' --and drg.[Version] = @drg_current_ver
		inner join CDW_Report.FullAccess.DepartmentDim dep with (nolock)  on inpat.DepartmentKey = dep.DepartmentKey and IsDepartment = 1
			       and dep.LocationEpicId not in ( '11016', '11017') --MaineHealth Behavioral Health at Spring Harbor is not on PG's list
		inner join CDW_Report.FullAccess.EncounterFact enc with (nolock)  on inpat.EncounterKey = enc.EncounterKey
		left join  CDW_report.FullAccess.DiagnosisDim dia on enc.PrimaryDiagnosisKey = dia.DiagnosisKey
		inner join CDW_report.FullAccess.DiagnosisTerminologyDim diaTerm on dia.DiagnosisKey = diaTerm.DiagnosisKey and diaTerm.[Type] = 'ICD-10-CM'
		inner join CDW_Report.FullAccess.TimeOfDayDim Atime with (nolock)  on inpat.AdmissionTimeOfDayKey = Atime.TimeOfDayKey
		inner join CDW_Report.FullAccess.TimeOfDayDim Dtime with (nolock)  on inpat.DischargeTimeOfDayKey = Dtime.TimeOfDayKey
		inner join CDW_report.FullAccess.ProviderDim prov with (nolock)  on inpat.DischargingProviderDurableKey = prov.DurableKey and inpat.DischargingProviderKey = prov.ProviderKey
		inner join CDW_report.FullAccess.CoverageDim cov with (nolock)  on inpat.PrimaryCoverageKey = cov.CoverageKey
		inner join CDW_report.FullAccess.BedRequestFact bedreq with (nolock)  on inpat.AdmissionBedRequestKey = bedreq.BedRequestKey
		left join  CDW_report.FullAccess.DepartmentDim bed with (nolock)  on bed.DepartmentKey = bedreq.DestinationBedKey and bed.IsBed = 1
		inner join #lastService lser on inpat.PatientDurableKey = lser.PatientDurableKey and inpat.EncounterKey = lser.EncounterKey
		inner join [EDW_Epic_DMart].[dbo].[DepartmentDimExt] loc with (nolock)  on inpat.DepartmentKey = loc.DepartmentKey --and loc.is_department = 1
			       and loc.[PressGaneyId] is not null and loc.PressGaneyId <> 16107
		inner join CDW_report.FullAccess.DateDim adat with (nolock)  on inpat.AdmissionDateKey = adat.DateKey
		left join #cptList cptPat on cptPat.PatientDurableKey = inpat.PatientDurableKey 		


	--TRACKING PUT BACK IN - CROYLE
	---- delete record that were uploaded last week
	--delete FROM #HCAPHS
	--WHERE [Unique ID] in (SELECT [unique_ID] FROM [ETLProcedureRepository].[dbo].[PressGaney_TrackingRecords] WHERE [file_type] = @file_type )

	-- track the records that being sent this time
	--insert INTO [ETLProcedureRepository].[dbo].PressGaney_TrackingRecords ([file_type],[unique_ID])
	--SELECT @file_type, [Unique ID] FROM #HCAPHS

	-- OUTPUT
	SELECT DISTINCT *  FROM #HCAPHS WHERE [ICD-10] = 'z33.2' -- miscarriage cases
	union
	SELECT * FROM (			-- multiple rows due to 1:n relationship between diagnosisKey:Value -- just take top icd-10 value
		SELECT top 1 with ties *  FROM #HCAPHS 
		WHERE [Medical Record Number] not in (SELECT DISTINCT [Medical Record Number] FROM #HCAPHS WHERE [ICD-10] = 'z33.2')
		order by row_number() over (partition by [Medical Record Number], [Unique ID] order by [ICD-10]) 
	) t



