USE [ETLProcedureRepository]
GO
/****** Object:  StoredProcedure [dbo].[sp_PressGaney_OASCAHPS]    Script Date: 8/7/2025 3:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-- =============================================
-- Author:		Huyen-Trang Pham
-- Create date: 11/23/2024
-- Description:	get dataset for Press Ganey's Outpatient surgery/procedure survey
	Based on current CMS protocol, your responsibilities are listed below. 
		• Upload patient records by the 15th of the following month 
		• In alignment with CMS’ definition of HOPDs and ASCs (described at the end of this section), 
		include all eligible surgical encounters in your upload, taking steps to ensure correct handling of 
		the following special populations: 
		o Observation 
		? Patients kept for Observation after an outpatient surgical encounter are potentially OAS 
		CAHPS eligible and therefore must be uploaded (unless they are formally admitted as an 
		Inpatient). 
		o Inpatient Admissions 
		? Patients transferred/admitted to the inpatient level of care after a surgical encounter are 
		not eligible for official OAS CAHPS and therefore it is permissible to omit this population 
		from the ambulatory surgery upload files. 
		
		------------------- NEED VERIFICATION ON THIS
		However, if you would like to administer 
		unofficial OAS CAHPS or another survey from the ambulatory surgery service line to this 
		population, they need to be uploaded as an ambulatory surgery record with the correct 
		discharge status. 
		• Note: this means if you choose to include this population under Ambulatory 
		Surgery and are also surveying your Inpatients with Press Ganey, you will upload 
		these patient encounters twice: once under ambulatory surgery for their surgical 
		encounter and again under inpatient for their subsequent inpatient discharge. 
		----------------------------------------------

		o State Regulated and No Publicity 
		? These patient populations MUST be excluded from your extract file. 
		? This CMS rule differs from HCAHPS. State Regulation and No Publicity patients should 
		be sent for HCAHPS but not for OAS CAHPS. 
		• Note: Press Ganey does not keep a record of state exclusion regulations. Please 
		refer to your internal counsel for more information. 
		o Cancelled and Discontinued Procedures 
		? These records do not need to be uploaded;
		? One method is to include additional fields for the CPT modifiers in your file layout; if you 
		would like to utilize this method, the modifiers 73 and 74 would need to be set up as 
		custom exclusions by your Application Specialist. 
		• Provide Category I CPT-4 range codes or Category II G-codes (up to 6) for each patient record 
		• Stratified sampling must be pre-approved by the OAS CAHPS Coordination Team

		[dbo].[sp_PressGaney_OASCAHPS] 'mb-1', 'me-1'
-- =============================================*/
Declare	@StartDate varchar(10) = '04/01/2024'
	,@EndDate varchar(10) = '04/30/2024'
	, @update int = 0
	, @testing int = 1

declare @StartDateInt bigint
	, @EndDateInt bigint
	, @file_type varchar(10) = 'OASCAHPS'
	, @maxD datetime 
	, @selfCorrectDate int
	, @tmpDate			date
	, @errmsg			varchar(255)

	if (@update = 0)
	begin
		if (@StartDate is null)
			set @StartDate = 't-30'
		if (@EndDate is null)
			set @EndDate = 't'   

		-- self-corrected lookback date for DR purpose
		select @maxD = max(created_date) from [ETLProcedureRepository].[dbo].[PressGaney_TrackingRecords] where file_type = @file_type
		select @selfCorrectDate = datediff(dd, @maxD, getdate())
		if (@maxD < DATEADD(dd, - 9, getdate()))
			select @StartDate = 't - ' + cast((30 + @selfCorrectDate) as varchar(2))  			
		
		select	@StartDateInt  = cast(format([ETLProcedureRepository].dbo.MH_Interpret_Start_Date_Fn(@StartDate), 'yyyyMMdd') as bigint)
				, @EndDateInt  = cast(format([ETLProcedureRepository].dbo.MH_Interpret_End_Date_Fn(@EndDate), 'yyyyMMdd') as bigint)
	end
	else
	begin
		-- Convert what was passed to an integer form of date in YYYYMMDD format for StartDate and EndDate
		if isdate(@StartDate) = 0
		begin
			set @errmsg = 'Invalid character date value passed for StartDate with update option: ' + coalesce(@StartDate, 'null')
			raiserror(@errmsg, 16, 1)
		end
		else
		begin
			set @StartDateInt = try_convert(int, @StartDate)
			if @StartDateInt is null
			begin
				set @errmsg = 'Unable to convert StartDate to integer: ' + coalesce(@StartDate, 'null')
				raiserror(@errmsg, 16, 1)
			end
		end

		if isdate(@EndDate) = 0
		begin
			set @errmsg = 'Invalid character date value passed for EndDate with update option: ' + coalesce(@EndDate, 'null')
			raiserror(@errmsg, 16, 1)
		end
		else
		begin
			set @EndDateInt = try_convert(int, @EndDate)
			if @EndDateInt is null
			begin
				set @errmsg = 'Unable to convert EndDate to integer: ' + coalesce(@EndDate, 'null')
				raiserror(@errmsg, 16, 1)
			end
		end
	end

-- get list of patient with surgery case
drop table if exists #surgPatList
select PatientDurableKey, PatientKey, AgeKey
	, SurgicalCaseEpicId, SurgicalCaseKey, PrimaryProcedureKey, PrimaryProcedureDurableKey, CodedProcedureComboKey, HospitalEncounterKey, SurgeryEncounterKey, LocationKey
	, AdmissionDateKey, AdmissionInstant, SurgeryDateKey, DischargeDateKey, DischargeInstant 
	, PrimarySurgeonDurableKey, PrimarySurgeonKey
	, PrimaryService
	, IntraOpDepartmentKey
into #surgPatList
from CDW_report.FullAccess.SurgicalCaseFact pat with (nolock)	
	inner join CDW_report.FullAccess.DurationDim dur with (nolock) on pat.AgeKey = dur.DurationKey and dur.Years > 17
	inner join ETLProcedureRepository.dbo.OasCAHPSSurveyDemographicDetail_20250612_combined sdd
		on sdd.[Unique ID] = SurgicalCaseEpicId
where DischargeDateKey between @StartDateInt and @EndDateInt
	and DischargeDisposition = 'Home or Self Care'
	and SurgeryPatientClass in ('Hospital Ambulatory Surgery') 
	and LogStatus = 'Posted'
	and CodedProcedureComboKey > -1  -- when this field = -1, PrimaryProcedureKey link to ProcedureDim doesn't yield a surgery case

-- crosstab each surgery case into 6 procedure  
drop table if exists #cptList
select PatientDurableKey, PatientKey
	, max(case when rn = 1 then Cpt end) as CPT1
	, max(case when rn = 2 then Cpt end) as CPT2
	, max(case when rn = 3 then Cpt end) as CPT3
	, max(case when rn = 4 then Cpt end) as CPT4
	, max(case when rn = 5 then Cpt end) as CPT5
	, max(case when rn = 6 then Cpt end) as CPT6
into #cptList
from 
(	-- OAS CAHPS ITTI.pdf, p. 14, only 6 procedure codes is needed, filter list for CPT is from this page
	-- according to PG, order in Clarity is not necessary
	select	top 6 with ties pat.PatientDurableKey, pat.PatientKey, coalesce(pro.CptCode, pro.Code) Cpt
			, ROW_NUMBER() over (partition by PatientDurableKey order by ProcedureKey) rn
	from #surgPatList pat
		inner join CDW_report.FullAccess.ProcedureBridge pro with (nolock) on pat.CodedProcedureComboKey = pro.ProcedureComboKey
	where CptCode between '10004' and '69990' or CptCode between '93451' AND '93462' or CptCode between '93566' and '93572'
			or CptCode in ('92920', '92921','92928','92929','92978','93985','93986')
			or Code in ('G0104', 'G0105', 'G0121', 'G0260')
	order by case when ROW_NUMBER() over (partition by PatientDurableKey order by PatientKey) <= 6 then 0 else 1 end
)t
group by PatientDurableKey, PatientKey

-- get mobile phone numbers
drop table if exists #mobile
select PatientDurableKey, OTHER_COMMUNIC_NUM
into #mobile
from
(																				-- asume smaller the number, higher the priority
	select distinct s.PatientDurableKey, ph.OTHER_COMMUNIC_NUM, CONTACT_PRIORITY, min(CONTACT_PRIORITY) over (partition by PAT_ID) highestCP
	from #surgPatList s
		inner join CDW_report.FullAccess.PatientDim p with (nolock) on s.PatientDurableKey = p.DurableKey and p.IsCurrent = 1
			inner join CLARITY.dbo.OTHER_COMMUNCTN ph with (nolock) on p.PatientEpicId = ph.PAT_ID and ph.OTHER_COMMUNIC_C = 1  -- 1 is mobile number
) t
where CONTACT_PRIORITY = highestCP

-- get excluded patients
	drop table if exists #excludePat
	select distinct PAT_ID 
	into #excludePat
	from CLARITY.dbo.PATIENT_TYPE patT (nolock)
		inner join CLARITY.dbo.ZC_PATIENT_TYPE zc on patT.PATIENT_TYPE_C = zc.PATIENT_TYPE_C and zc.PATIENT_TYPE_C in (2,6) -- 2 confidential, 6 prisioner

-- get patient's data
drop table if exists #OAS
SELECT distinct
	[Survey Designator] = case when /*sdept.LocationEpicId =  '10740603'*/ dep.DepartmentEpicId = '11002124' then 'AS0102' else 'AS0101' end
	, [Client ID] =  loc.[PressGaneyId]
	, [Last Name] = pat.LastName
	, [Middle Initial] = pat.MiddleName
	, [First Name] = pat.FirstName
	, [Address 1] = pat.AddressLine1_X
	, [Address 2] = pat.AddressLine2_X
	, [City] = pat.City
	, [State] = pat.StateOrProvinceAbbreviation
	, [ZIP Code] = pat.PostalCode
	, [Telephone Number] = pat.HomePhoneNumber
	, [Mobile Number] = phone.OTHER_COMMUNIC_NUM
	, [Gender] = case pat.Sex when 'Male' then '1' when 'Female' then '2' else '' end
	, [Race]	= pat.FirstRace	 
	, [Ethnicity] = pat.Ethnicity
	, [Date of Birth] = format(pat.BirthDate, 'MMddyyyy')
	, [Language]  = pat.PreferredWrittenLanguage_X
	, [Medical Record Number] = pat.EnterpriseId
	, [Unique ID] = surgPat.SurgicalCaseEpicId
	, [Location Code]  = dep.DepartmentEpicId -- sdept.LocationEpicId 
	, [Location Name] = dep.DepartmentName -- sdept.LocationName
	, [Attending Physician NPI] = prov.Npi	-- primary surgeon 
	, [Attending Physician Name]  = prov.Name
	, [Provider Type] = prov.Type
	, [Provider specialty] = prov.PrimarySpecialty
	, [Site address 1] = dep.Address -- sdept.Address
	, [Site address 2] = null
	, [Site city] = dep.City -- sdept.City
	, [Site state] = dep.StateOrProvinceAbbreviation -- sdept.StateOrProvinceAbbreviation
	, [Site zip] = dep.PostalCode -- sdept.PostalCode
	, [Patient Admission Source] = enc.AdmissionSourceCode
	, [Patient Discharge Status] = COALESCE(enc.DischargeDispositionCode, 'M')
	, [Visit or Admit Date] = adate.DisplayString
	, [Visit or Admit Time] = format(cast(surgPat.AdmissionInstant as time), 'hhmm')
	, [Discharge Date] = ddate.DisplayString
	, [Discharge Time] = format(cast(surgPat.DischargeInstant as time), 'hhmm')
	, [Service] = surgPat.PrimaryService 
	, [Specialty] = dep.DepartmentSpecialty
	, [Email] = pat.EmailAddress
	, [Procedure Code 1] = cptPat.CPT1		
	, [Procedure Code 2] = cptPat.CPT2
	, [Procedure Code 3] = cptPat.CPT3
	, [Procedure Code 4] = cptPat.CPT4
	, [Procedure Code 5] = cptPat.CPT5
	, [Procedure Code 6] = cptPat.CPT6
	, [Deceased Flag] = case when pat.DeathDate is null then 'N' else 'Y' end
	, [Newborn patient] = case when enc.PatientClass = 'Newborn' then 'Y' else 'N' end
	, [Transferred/admitted to inpatient] = 'N' -- since it gets filtered already
	, '$' EOR
into #OAS
FROM #surgPatList surgPat  
	inner join #cptList cptPat on cptPat.PatientDurableKey = surgPat.PatientDurableKey 		
	--inner join CDW_report.FullAccess.DepartmentDim sdept with (nolock) on surgPat.LocationKey = sdept.DepartmentKey and sdept.ServiceAreaEpicId = '110'
	inner join CDW_report.FullAccess.ProviderDim prov with (nolock) on surgPat.PrimarySurgeonDurableKey = prov.DurableKey and surgPat.PrimarySurgeonKey = prov.ProviderKey
	inner join CDW_report.FullAccess.EncounterFact enc with (nolock) on surgPat.HospitalEncounterKey = enc.EncounterKey
	inner join CDW_report.FullAccess.PatientDim pat with (nolock) on cptPat.PatientDurableKey = pat.DurableKey and pat.IsCurrent = 1 -- cptPat.PatientKey = pat.PatientKey
		and pat.PatientEpicId not in (select PAT_ID from #excludePat) -- exclude patients with patient_type in ('confidential', 'prisioner')
	left join #mobile phone on surgPat.PatientDurableKey = phone.PatientDurableKey
	inner join CDW_report.FullAccess.DateDim adate with (nolock) on surgPat.AdmissionDateKey = adate.DateKey
	inner join CDW_report.FullAccess.DateDim ddate with (nolock) on surgPat.DischargeDateKey = ddate.DateKey
	inner join [EDW_Epic_DMart].[dbo].[DepartmentDimExt] loc with (nolock) on  surgPat.IntraOpDepartmentKey = loc.DepartmentKey 			
	inner join CDW_report.FullAccess.DepartmentDim dep with (nolock) on surgPat.IntraOpDepartmentKey = dep.DepartmentKey and dep.IsDepartment = 1 and dep.ServiceAreaEpicId = '110'

	-- delete record that were uploaded last week
	if @update = 0
		delete from #OAS
		where [Unique ID] in (select [unique_ID] from [ETLProcedureRepository].[dbo].[PressGaney_TrackingRecords] where [file_type] = @file_type )

	if @testing = 0
	-- track the records that being sent this time
		insert into [ETLProcedureRepository].[dbo].PressGaney_TrackingRecords ([file_type],[unique_ID])
		select @file_type, [Unique ID] from #OAS

	-- OUTPUT
	select * from #OAS

