USE [ETLProcedureRepository]
GO
/****** Object:  StoredProcedure [dbo].[sp_PressGaney_HospiceCAHPS]    Script Date: 8/7/2025 3:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*-- =============================================
-- Author:		Huyen-Trang Pham
-- Create date: 11/23/2024
-- Description:	get dataset for Press Ganey's hospice survey
		Hospice CAHPS ITTI
		Surveys are administered for the Hospice CAHPS program on a monthly basis. As such, the monthly data file 
		should include only the patient records for the appropriate sample month. To allow a period of time between 
		the patient’s death and the caregiver receiving the survey, there is a lag built into the surveying process. 
		Uploads are due by the 15th of the month and should contain decedent records for two months prior. For 
		example, between March 1st and March 15th, you must upload January’s data to ensure survey administration 
		to the sampled caregivers during the first week of April. 
		Excluded Records 
		Your hospice is required to submit its entire decedent/caregiver list, excluding no-publicity patients/ 
		caregivers and patients who are alive at the time of discharge. Under these circumstances, patients/ 
		caregivers should not receive a Hospice CAHPS survey. These patients/caregiver records must be 
		removed before the file is transmitted to Press Ganey.
			Decedents/Caregivers who requested not to have their name released 
			Patients alive at the time of discharge 
				A count of excluded patients must be provided to Press Ganey in each sample month file 
-- =============================================*/
ALTER PROCEDURE [dbo].[sp_PressGaney_HospiceCAHPS]
	@StartDate varchar(10)
	,@EndDate varchar(10)
	,@clientIDs varchar(1000)
AS
BEGIN TRY
	SET NOCOUNT ON;

	 declare @StartDateInt bigint
	, @EndDateInt bigint
	, @stillPt int
	, @expiredPt int

	if (@StartDate is null)
		set @StartDate = 'mb-2'
	if (@EndDate is null)
		set @EndDate = 'me-2'   
	
	select @StartDateInt  = cast(format([ETLProcedureRepository].dbo.MH_Interpret_Start_Date_Fn(@StartDate), 'yyyyMMdd') as bigint)
		 , @EndDateInt  = cast(format([ETLProcedureRepository].dbo.MH_Interpret_End_Date_Fn(@EndDate), 'yyyyMMdd') as bigint)

	-- get the filter list
	drop table if exists #hospicePat
	select distinct epi.HomeCareEpisodeKey, epi.PatientDurableKey, pat.PatientEpicId, epi.IntakeEncounterKey
		, epi.PrimaryCaregiverCounty
		, epi.PrimaryCaregiverZip
		, epi.PrimaryCaregiverRelation
		, epi.PrimaryCaregiverNoSurvey
		, pat.FirstName
		, pat.LastName
		, pat.MiddleName
		, pat.Sex
		, pat.EnterpriseId
		, pat.FirstRace
		, pat.Ethnicity
		, pat.BirthDate
		, pat.DeathDate
		, pat.MultiRacial
		, epi.DischargeDateKey
		, epi.EpisodeCreationDateKey
		, epi.HospiceEffectiveDateKey
		, epi.HospiceDischargeDisposition
		, epi.HospiceDischargeReason
		, epi.IntakeDepartmentKey
		, epi.EpisodeKey
		, epi.PrimaryCoverageKey
		, epi.HospitalAccountKey
		, epi.PrimaryDiagnosisKey
		, dep.LocationName
		, isExpired = case when epi.HospiceDischargeDisposition like '%expired%' or epi.HospiceDischargeReason like '%expired%' then 1 else 0 end
		, ef.EpisodeEpicId
		, dep.HomeCareCCN
	into #hospicePat
	from CDW_Report.FullAccess.HospiceEpisodeFact epi (nolock)
		inner join CDW_Report.FullAccess.PatientDim pat (nolock) on epi.PatientDurableKey = pat.DurableKey and pat.IsCurrent = 1 and pat.Test = 0
		inner join CDW_report.FullAccess.HomeCareEpisodeFact hcepisod (nolock) on epi.HomeCareEpisodeKey = hcepisod.HomeCareEpisodeKey
			inner join CDW_report.FullAccess.DepartmentDim dep (nolock) on hcepisod.IntakeDepartmentKey = dep.DepartmentKey and IsDepartment = 1
				and dep.HomeCareCCN in (select * from string_split(@clientIDS, ',')) 
		inner join CDW_report.FullAccess.EpisodeFact ef on epi.EpisodeKey = ef.EpisodeKey
	where epi.DischargeDateKey between @StartDateInt and @EndDateInt

	drop table if exists #patTypeCount
	select distinct HomeCareCCN
		, sampleMonth
		, isExpired
		, count(1) over (partition by HomeCareCCN, sampleMonth, isExpired) patCount
		, sum(PrimaryCaregiverNoSurvey) over (partition by HomeCareCCN, sampleMonth) caregiverCount
	into #patTypeCount
	from (
		select distinct HomeCareCCN
			, sampleMonth = substring(cast(DischargeDateKey as varchar(8)), 5, 2)
			, PatientDurableKey
			, isExpired
			, cast(PrimaryCaregiverNoSurvey as int) PrimaryCaregiverNoSurvey
		from #hospicePat
	)t

	-- get PlaceOfServiceType
	drop table if exists #finalLoc
	select hp.PatientDurableKey
		, PlaceOfServiceType = coalesce(HHcert.PlaceOfServiceType, POS_TYPE.NAME)
	into #finalLoc
	from #hospicePat hp
		left join CLARITY.DBO.HC_PLACE_OF_SRVC POS (nolock) ON hp.EpisodeEpicId  = POS.SUMMARY_BLOCK_ID AND POS.LINE = 1
		left join CLARITY.DBO.ZC_POS_TYPE POS_TYPE (nolock) ON POS.POS_TYPE_C = POS_TYPE.POS_TYPE_C
		left join CDW_report.FullAccess.HomeHealthCertificationPeriodFact HHcert (nolock) on hp.HomeCareEpisodeKey = HHcert.HomeCareEpisodeKey
	where hp.isExpired = 1

	-- get caregiver data
	drop table if exists #careGivers
	select hp.PatientEpicId
		, CGname = hh.CAREGIVER_1_NAME
		, CGaddress1 = cg1.CAREGIVER_1_ADDR
		, CGaddress2 = cg2.CAREGIVER_1_ADDR
		, CGcity = hh.CAREGIVER_1_CITY
		, CGemail = hh.CAREGIVER_1_EMAIL
		, CGhomephone = hh.CAREGIVER_1_HPHONE
		, CGworkphone = hh.CAREGIVER_1_WPHONE
		, CGmobile = hh.CAREGIVER_1_MPHONE
		, CGstate = st1.ABBR
		, CGlanguage = isnull(lang1.NAME, 'English')
		, patRelation = case when hh.CAREGIVER_1_REL_C in ('13','17') then '1' --Spouse / Partner 
									when hh.CAREGIVER_1_REL_C in ('3','4','8','18') then  '2' -- Parent
									when hh.CAREGIVER_1_REL_C in ('2','15') then '3' -- Child
									when hh.CAREGIVER_1_REL_C in ('1','11','14','19','20') then '4' -- Other family member
									when hh.CAREGIVER_1_REL_C in ('5') then '5' -- Friend
									when hh.CAREGIVER_1_REL_C in ('23') then '6' -- Legal guardian 
									when hh.CAREGIVER_1_REL_C in ('22') then '8' -- Unknown / No caregiver of record
									-- don't see any category in clarity.dbo.ZC_PAT_RELATION that resemblent to 9 -- Paid caregiver
									when hh.CAREGIVER_1_REL_C is null then 'M' -- Missing
									else '7' -- Other
									end
	into #careGivers
	from #hospicePat hp
		inner join CLARITY.dbo.HH_PAT_INFO hh (nolock) on hp.PatientEpicId = hh.PAT_ID
			left join CLARITY.dbo.HH_PAT_CG1_ADDRESS cg1 (nolock) on hp.PatientEpicId = cg1.PAT_ID AND cg1.LINE = 1
			left join CLARITY.dbo.HH_PAT_CG1_ADDRESS cg2 (nolock) ON hp.PatientEpicId = cg2.PAT_ID AND cg2.LINE = 2
			left join CLARITY.dbo.ZC_STATE st1 (nolock) on hh.CAREGIVER_1_STAT_C = st1.STATE_C
			left join CLARITY.dbo.ZC_LANGUAGE lang1 (nolock) on hh.CAREGIVER_1_LANG_C = lang1.LANGUAGE_C	
	where PrimaryCaregiverNoSurvey <> '1'
		and hp.isExpired = 1

	-- if care giver #1 is null, use care giver #2
	update #careGivers 
	set CGname = hh.CAREGIVER_2_NAME
		, CGaddress1 = cg1.CAREGIVER_1_ADDR
		, CGaddress2 = cg2.CAREGIVER_1_ADDR 
		, CGcity = hh.CAREGIVER_2_CITY
		, CGemail = hh.CAREGIVER_2_EMAIL
		, CGhomephone = hh.CAREGIVER_2_HPHONE
		, CGworkphone = hh.CAREGIVER_2_WPHONE
		, CGmobile = hh.CAREGIVER_2_MPHONE
		, CGstate = st1.ABBR
		, CGlanguage = lang1.NAME
		, patRelation = case when hh.CAREGIVER_2_REL_C in ('13','17') then '1' --Spouse / Partner 
									when hh.CAREGIVER_2_REL_C in ('3','4','8','18') then  '2' -- Parent
									when hh.CAREGIVER_2_REL_C in ('2','15') then '3' -- Child
									when hh.CAREGIVER_2_REL_C in ('1','11','14','19','20') then '4' -- Other family member
									when hh.CAREGIVER_2_REL_C in ('5') then '5' -- Friend
									when hh.CAREGIVER_2_REL_C in ('23') then '6' -- Legal guardian 
									when hh.CAREGIVER_2_REL_C in ('22') then '8' -- Unknown / No caregiver of record
									-- don't see any category in clarity.dbo.ZC_PAT_RELATION that resemblent to 9 -- Paid caregiver
									when hh.CAREGIVER_2_REL_C is null then 'M' -- Missing
									else '7' -- Other
									end
	from #careGivers cg
		inner join CLARITY.dbo.HH_PAT_INFO hh (nolock) on cg.PatientEpicId = hh.PAT_ID
			left join CLARITY.dbo.HH_PAT_CG1_ADDRESS cg1 (nolock) on cg.PatientEpicId = cg1.PAT_ID AND cg1.LINE = 1
			left join CLARITY.dbo.HH_PAT_CG1_ADDRESS cg2 (nolock) ON cg.PatientEpicId = cg2.PAT_ID AND cg2.LINE = 2
			left join CLARITY.dbo.ZC_STATE st1 (nolock) on hh.CAREGIVER_2_STAT_C = st1.STATE_C
			left join CLARITY.dbo.ZC_LANGUAGE lang1 (nolock) on hh.CAREGIVER_2_LANG_C = lang1.LANGUAGE_C	
	where cg.CGname is null

	-- OUTPUT DATASET
	select 	 
		[Survey Designator] = 'HP0101'
		, [Client ID] = case when hosPat.HomeCareCCN = '201501' then 49790 
							 when hosPat.HomeCareCCN = '201508' then 49791 end
		, [First Name] = case when careGiver.CGname like '%,%' then RIGHT(careGiver.CGname, LEN(careGiver.CGname) - CHARINDEX(',', careGiver.CGname))
							else LEFT(careGiver.CGname, CHARINDEX(' ', careGiver.CGname) - 1) end
		, null [Middle Initial] -- we don't have this field
		, [Last Name] = case when careGiver.CGname like '%,%' then LEFT(careGiver.CGname, CHARINDEX(',', careGiver.CGname) - 1) 
							else case when len(careGiver.CGname) > 1 then RIGHT(careGiver.CGname, len(careGiver.CGname) - CHARINDEX(' ', careGiver.CGname)) else careGiver.CGname end
							end
		, [Address 1] = careGiver.CGaddress1
		, [Address 2] = careGiver.CGaddress2
		, [City] = careGiver.CGcity
		, [State] = careGiver.CGstate
		, [ZIP Code] = hosPat.PrimaryCaregiverZip
		, [Phone] = careGiver.CGhomephone
		, [Phone 2] = careGiver.CGmobile
		, [Phone 3] = careGiver.CGworkphone
		, [Email Address] = careGiver.CGemail
		, [Relation] = careGiver.patRelation 
		, [Language] = careGiver.CGlanguage
		, [Patient First Name ] = hosPat.FirstName
		, [Patient Middle Initial] = left(hosPat.MiddleName, 1)
		, [Patient Last Name] = hosPat.LastName
		, [Patient ID Number] = hosPat.EnterpriseId
		, [Gender] = case hosPat.Sex when 'Male' then 1 when 'Female' then 2 else null end
		, [CMS Race] = case when hosPat.MultiRacial = 1 then '6'			-- this field is based on PG's guideline
							else case hospat.FirstRace when 'White or Caucasian' then '1' 
													    when 'Black or African American' then '2'
														when 'Asian' then '3'
														when 'Native Hawaiian and Other Pacific Islander' then '4'
														when 'American Indian and Alaska Native' then '5'
														when 'Other' then '7'
														when null then 'M' end
						end
		, [CMS Ethnicity ] = case hosPat.Ethnicity when 'Hispanic' then '1'
													when 'Non-Hispanic' then '2'
													when null then 'M' end
		, [Race] = hosPat.FirstRace
		, [Ethnicity] = hospat.Ethnicity 
		, [Date of Birth] = convert(varchar(10), hosPat.BirthDate, 101)
		, [Discharge Date] = convert(varchar(10), hosPat.DeathDate  , 101)
		, [Admission Date] = dat.DisplayString
		, [Discharge Status] = case hosPat.HospiceDischargeDisposition 
									when 'Still a Patient' then '30' -- this group should not appear in the extract since it's being filtered
									when 'Expired at Home' then '40'
									
									when 'Expired - Place Unknown' then '42'
									when  'Expired' then '42' -- Epic just have this value
									when 'Discharged/transferred to Home Under Care of Organized Home Health Service Org' then '50'
									else case 
										when hosPat.HospiceDischargeDisposition like 'Discharged to Home%' then '01' -- ?? doesn't say revoke or not in Epic
										when hosPat.HospiceDischargeDisposition like 'Expired % Medical Facility%' then '41'	
										when hosPat.HospiceDischargeDisposition in ('Discharged/transferred to a another type of health care institution, NEC', 'Discharged/transferred to a Medicare Certified Long Term Care Hospital (LTCH)') then '51' end
								end
								/* These are all values we have in select distinct HospiceDischargeDisposition from CDW_report.FullAccess.HospiceEpisodeFact
									Admitted as an Inpatient to this Hospital
									Disch/trans to Another Type of Health Care Inst not Defined Elsewhere in this List
									Discharged/transferred to a another type of health care institution, NEC
									Discharged/transferred to a Medicare Certified Long Term Care Hospital (LTCH)
									Discharged/transferred to a Short-Term General Hospital for Inpatient Care
									Discharged/transferred to Home Under Care of Organized Home Health Service Org
									Discharged/transferred to Skilled Nursing Facility (SNF) with Medicare Certification
									Expired
									Expired - Place Unknown
									Expired at Home
									Expired in a Medical Facility (e.g. hospital, SNF, ICF, or free standing hospice)
									Home Health Care Svc w/Plan Acute Hosp Re-admit
									Home or Self w/Plan Acute Hosp Re-admit
									Hospice - Home
									Hospice - Medical Facility (Certified) Providing Hospice Level of Care
									*/
		, [Final Location] = case floc.PlaceOfServiceType 
								when 'Home' then '1'
								when 'Assisted Living Facility' then '2'
								when 'Group Home' then '3'
								when 'Nursing Facility' then '3'
								when 'Residential Substance Abuse Treatment Facility' then '3'
								when 'Skilled Nursing Facility' then '4'
								when 'Inpatient Hospital' then '5'
								when 'Inpatient hospice facility' then  '6' -- not seeing this
								when 'Adult Living Care Facility' then '7'
								when 'Inpatient psychiatric facility' then '8'  -- we don't seem to have this
								when 'Other Place of Service' then '9'
								when 'Hospice' then '10'
								when '*Unknown' then 'M'
								when '*Unspecified' then 'M'
							end	
								
		, [Payment Source – Primary] = case cov1.PayorFinancialClass  
											when 'Medicare' then '1'
											when 'Medicaid' then '2'
											when 'Private' then '3'
											when 'Self-Pay' then '3' -- we don't have 'Private' class, but have this
											when 'Uninsured / no payer' then '4'
											when 'Program for All Inclusive Care for the Elderly (PACE)' then '5'
											when 'Unknown / Missing' then 'M'
											else '6' -- Other
											end
						
		, [Payment Source – Secondary] =  case  cov2.PayorFinancialClass 
											when 'Medicare' then '1'
											when 'Medicaid' then '2'
											when 'Private' then '3'
											when 'Self-Pay' then '3' -- we don't have 'Private' class, but have this
											when 'Uninsured / no payer' then '4'
											when 'Program for All Inclusive Care for the Elderly (PACE)' then '5'							
											when null then '7'  -- no secodary payer
											when '*Unspecified' then '7'
											when 'Unknown / Missing' then 'M'		
											else '6' -- other
											end	
								
		, [Payment Source – Other] = case cov3.PayorFinancialClass 
											when 'Medicare' then '1'
											when 'Medicaid' then '2'
											when 'Private' then '3'
											when 'Self-Pay' then '3' -- we don't have 'Private' class, but have this
											when 'Uninsured / no payer' then '4'
											when 'Program for All Inclusive Care for the Elderly (PACE)' then '5'			
											when null then '7'  -- no other payer
											when '*Unspecified' then '7'
											when 'Unknown / Missing' then 'M'		
											else '6' -- other
											end
		, [Primary Diagnosis – ICD-10] = edg.CURRENT_ICD10_LIST
		, [Sample Month] = substring(cast(hosPat.DischargeDateKey as varchar(8)), 5, 2)
		, [Sample Year] = left(hosPat.DischargeDateKey, 4)
		, [Total Live Discharges] =  lct.patCount
		, [Total Decedents] = ect.patCount
		, [No Publicity] = ect.caregiverCount
		, [Facility] = hosPat.LocationName
		, '$' EOR
	from #hospicePat hosPat 
		left join #careGivers careGiver on hosPat.PatientEpicId = careGiver.PatientEpicId 
		left join #finalLoc floc on hosPat.PatientDurableKey = floc.PatientDurableKey
		inner join CDW_Report.FullAccess.DateDim dat (nolock) on hosPat.EpisodeCreationDateKey = dat.DateKey
		left join CDW_Report.FullAccess.BillingAccountFact billAcc (nolock) on hosPat.HospitalAccountKey = billAcc.BillingAccountKey
			inner join CDW_Report.FullAccess.CoverageDim cov1 (nolock) on billAcc.PrimaryCoverageKey = cov1.CoverageKey
			left join  CDW_Report.FullAccess.CoverageDim cov2 (nolock) on billAcc.SecondCoverageKey = cov2.CoverageKey
			left join CDW_Report.FullAccess.CoverageDim cov3 (nolock) on billAcc.ThirdCoverageKey = cov3.CoverageKey
		inner join CDW_Report.FullAccess.DiagnosisDim diag (nolock) on hosPat.PrimaryDiagnosisKey = diag.DiagnosisKey
			inner join CLARITY.DBO.CLARITY_EDG edg (nolock) on diag.DiagnosisEpicId = edg.DX_ID
		inner join #patTypeCount lct on hosPat.HomeCareCCN = lct.HomeCareCCN and substring(cast(hosPat.DischargeDateKey as varchar(8)), 5, 2) = lct.sampleMonth and lct.isExpired = 0
		inner join #patTypeCount ect on hosPat.HomeCareCCN = ect.HomeCareCCN and substring(cast(hosPat.DischargeDateKey as varchar(8)), 5, 2) = ect.sampleMonth and ect.isExpired = 1

	where hosPat.isExpired = 1	
	
END TRY
BEGIN CATCH
	EXEC [ETLProcedureRepository].[dbo].[sp_logErrorInfo] 'VMMHSQLSSIS.SSISDB.DE_EpicExtracts.Hospice CAHPS' ;
	THROW;
END CATCH
