USE [ETLProcedureRepository]
GO
/****** Object:  StoredProcedure [dbo].[sp_PressGaney_HHCAHPS]    Script Date: 10/13/2025 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/* =============================================
-- Author:		Huyen-Trang Pham
-- Create date: 11/23/2024
-- Description: get dataset for Press Ganey's Home Health Survey
	For purposes of this survey, the basis for a skilled home health visit is the classification of the agency employee who visited the patient, not the reason for the visit. 
	They must be made by: 
	• a registered nurse (RN) or licensed practical nurse (LPN),
	• a physical therapist or physical therapist assistant, 
	• an occupational therapist or occupational therapist assistant, or 
	• a speech therapist or speech therapist assistant
	Excluded patients:
		Deceased patients 	
		Patients currently receiving Hospice Care 		
		Patients who requested not to have their name released 
		Routine Maternity Care patients 
		Patients with Zero (0) Skilled Visits 
		Patients whose health information is restricted by state law (when applicable, these typically involve patients with HIV, alcohol/substance abuse, or mental health conditions) 

	06/30/2025:		Ed DeCelie

	Added @update which defaults to off, when set to 1 will take path that treats @StartDate and @EndDate literally
		and will seek out data only for the date range specified and use the table ETLProcedureRepository.dbo.[CAHPSSurveyDemographicDetail] 
		as a driver
	Added @testing which defaults to off, when set will show contents of work tables used by proc
	
	Lookback corrected to contain sum of visit count of current month and prior month
	Admission Source fields corrected from 'Y/N' to '1/0'
-- 7/25/25 HTP	Edit for correct pull
				Remove @testing
-- =============================================*/
ALTER PROCEDURE [dbo].[sp_PressGaney_HHCAHPS]
	@StartDate varchar(10)
	,@EndDate varchar(10)
	,@clientID varchar(1000)
	,@update int = 0


AS
BEGIN TRY
	SET NOCOUNT ON;

	  declare @StartDateInt bigint
			, @EndDateInt bigint
			, @StartDateLB varchar(10) 
			, @EndDateLB varchar(10)
			, @StartDateLBInt bigint
			, @EndDateLBInt bigint
			, @tot int

	if (@StartDate is null)
		set @StartDate = 'mb-1'
	if (@EndDate is null)
		set @EndDate = 'me-1'   
	
	select @StartDateLB = substring(@StartDate, 0, charindex('-', @StartDate) + 1) +  cast((right(@StartDate, len(@StartDate) - CHARINDEX('-', @StartDate)) + 1) as varchar(2))
		, @EndDateLB = substring(@EndDate, 0, charindex('-', @EndDate) + 1) +  cast((right(@EndDate, len(@EndDate) - CHARINDEX('-', @EndDate)) + 1) as varchar(2))
	select @StartDateInt  = cast(format([ETLProcedureRepository].dbo.MH_Interpret_Start_Date_Fn(@StartDate), 'yyyyMMdd') as bigint)
		 , @EndDateInt  = cast(format([ETLProcedureRepository].dbo.MH_Interpret_End_Date_Fn(@EndDate), 'yyyyMMdd') as bigint)
		 , @StartDateLBInt = cast(format([ETLProcedureRepository].dbo.MH_Interpret_Start_Date_Fn(@StartDateLB), 'yyyyMMdd') as bigint)
		 , @EndDateLBInt = cast(format([ETLProcedureRepository].dbo.MH_Interpret_End_Date_Fn(@EndDateLB), 'yyyyMMdd') as bigint)

	-- GET LIST @ENCOUNTER LEVEL
	drop table if exists #encounters
	select enc.HomeCareEpisodeKey
		, enc.PatientDurableKey
		, enc.TypeOfService				-- these 2 fields need to go hand in hand to determine eligibility
		, enc.CmsDiscipline
		, isPvisit = case when enc.TypeOfService like '%private%' then 1 else 0 end  -- looks like it's already filtered out by HomeCareEpisodeType 
		, left(contact.HomeHealthReasonForAssessment, 1) AssessmentReason
		, enc.BillingAccountKey  
		, enc.EncounterKey
		, enc.EncounterDateKey
		, epi.EpisodeAdmitDateKey
		, epi.AdmissionSourceCode
		, epi.AdmissionSource
		, dep.DepartmentName
		, 0 Viscount	
		, isActive = case epi.EpisodeStatus when 'Active' then 1 else 0 end
		, epi.EpisodeDischargeDateKey
		, dep.HomeCareCCN
	into #encounters
	from CDW_Report.FullAccess.HomeCareEncounterFact enc (nolock)	
		inner join CDW_report.FullAccess.HomeCareEpisodeFact epi (nolock) on enc.HomeCareEpisodeKey = epi.HomeCareEpisodeKey
		inner join CDW_report.FullAccess.HomeCareContactTypeDim contact (nolock) on enc.HomeCareContactTypeKey = contact.HomeCareContactTypeKey
		inner join CDW_report.FullAccess.DepartmentDim dep (nolock) on epi.IntakeDepartmentKey = dep.DepartmentKey and ServiceAreaEpicId = '110' and IsDepartment = '1' -- this will help shorten the join ... however, will they change this value in the future?
	WHERE 0 = 1

	if @update = 0
		insert into #encounters(HomeCareEpisodeKey, PatientDurableKey, TypeOfService, CmsDiscipline, isPvisit, AssessmentReason
								, BillingAccountKey, EncounterKey, EncounterDateKey, EpisodeAdmitDateKey, AdmissionSourceCode, AdmissionSource
								, DepartmentName, Viscount, isActive, EpisodeDischargeDateKey, HomeCareCCN
							   )
		select	enc.HomeCareEpisodeKey
				, enc.PatientDurableKey
				, enc.TypeOfService				-- these 2 fields need to go hand in hand to determine eligibility
				, enc.CmsDiscipline
				, isPvisit = case when enc.TypeOfService like '%private%' then 1 else 0 end  -- looks like it's already filtered out by HomeCareEpisodeType 
				, left(contact.HomeHealthReasonForAssessment, 1) AssessmentReason
				, enc.BillingAccountKey  
				, enc.EncounterKey
				, enc.EncounterDateKey
				, epi.EpisodeAdmitDateKey
				, epi.AdmissionSourceCode
				, epi.AdmissionSource
				, dep.DepartmentName
				, 0 Viscount	
				, isActive = case epi.EpisodeStatus when 'Active' then 1 else 0 end
				, epi.EpisodeDischargeDateKey
				, dep.HomeCareCCN
		from CDW_Report.FullAccess.HomeCareEncounterFact enc (nolock)	
			inner join CDW_report.FullAccess.HomeCareEpisodeFact epi (nolock) on enc.HomeCareEpisodeKey = epi.HomeCareEpisodeKey
			inner join CDW_report.FullAccess.HomeCareContactTypeDim contact (nolock) on enc.HomeCareContactTypeKey = contact.HomeCareContactTypeKey
			inner join CDW_report.FullAccess.DepartmentDim dep (nolock) on epi.IntakeDepartmentKey = dep.DepartmentKey and ServiceAreaEpicId = '110' and IsDepartment = '1' -- this will help shorten the join ... however, will they change this value in the future?
		where EncounterDateKey between @StartDateLBInt and @EndDateInt 
			and enc.EncounterStartInstant is not null -- when it's null, type of service is unknown
			and enc.DeathDateKey < 0		
			and enc.IsErroneous = 0 
			and epi.HomeCareEpisodeType in ( 'Home Health', 'Parent Child Health') -- this will exclude Hospice or Private Duty (isn't this @ enc level?)
			and dep.HomeCareCCN in (select * from string_split(@clientID, ',')) 
			and enc.TypeOfService <> 'Non-visit Documentation'
			and enc.CmsDiscipline in (
										'Physical Therapy Assistant'
										,'Speech-Language Pathologist'
										,'Occupational Therapist'
										,'Physical Therapist'
										,'Licensed Practical Nurse'
										,'Registered Nurse'
										,'Occupational Therapy Assistant')
	else
	begin
		select	distinct DurableKey
		  into	#candidates
		  from	CDW_report.FullAccess.PatientDim pd (nolock)
		  join  ETLProcedureRepository.dbo.CAHPS_Error sdd (nolock)	on pd.EnterpriseId = sdd.Unique_ID
				and CAST(Event_Date AS INT) between @StartDateInt and @EndDateInt
				and sdd.CAHPS_file = 'HH' -- Home Health
		 where	pd.IsCurrent = 1

		insert into #encounters(HomeCareEpisodeKey, PatientDurableKey, TypeOfService, CmsDiscipline, isPvisit, AssessmentReason
								, BillingAccountKey, EncounterKey, EncounterDateKey, EpisodeAdmitDateKey, AdmissionSourceCode, AdmissionSource
								, DepartmentName, Viscount, isActive, EpisodeDischargeDateKey, HomeCareCCN
							   )
		select	enc.HomeCareEpisodeKey
				, enc.PatientDurableKey
				, enc.TypeOfService				-- these 2 fields need to go hand in hand to determine eligibility
				, enc.CmsDiscipline
				, isPvisit = case when enc.TypeOfService like '%private%' then 1 else 0 end  -- looks like it's already filtered out by HomeCareEpisodeType 
				, left(contact.HomeHealthReasonForAssessment, 1) AssessmentReason
				, enc.BillingAccountKey  
				, enc.EncounterKey
				, enc.EncounterDateKey
				, epi.EpisodeAdmitDateKey
				, epi.AdmissionSourceCode
				, epi.AdmissionSource
				, dep.DepartmentName
				, 0 Viscount	
				, isActive = case epi.EpisodeStatus when 'Active' then 1 else 0 end
				, epi.EpisodeDischargeDateKey
				, dep.HomeCareCCN
		from CDW_Report.FullAccess.HomeCareEncounterFact enc (nolock)	
			inner join #candidates cnd on cnd.DurableKey = enc.PatientDurableKey
			inner join CDW_report.FullAccess.HomeCareEpisodeFact epi (nolock) on enc.HomeCareEpisodeKey = epi.HomeCareEpisodeKey
			inner join CDW_report.FullAccess.HomeCareContactTypeDim contact (nolock) on enc.HomeCareContactTypeKey = contact.HomeCareContactTypeKey
			inner join CDW_report.FullAccess.DepartmentDim dep (nolock) on epi.IntakeDepartmentKey = dep.DepartmentKey and ServiceAreaEpicId = '110' and IsDepartment = '1' -- this will help shorten the join ... however, will they change this value in the future?
		where EncounterDateKey between @StartDateLBInt and @EndDateInt 
			and enc.EncounterStartInstant is not null -- when it's null, type of service is unknown
			and enc.DeathDateKey < 0		
			and enc.IsErroneous = 0 
			and epi.HomeCareEpisodeType in ( 'Home Health', 'Parent Child Health') -- this will exclude Hospice or Private Duty (isn't this @ enc level?)
			and dep.HomeCareCCN in (select * from string_split(@clientID, ',')) 
			and enc.TypeOfService <> 'Non-visit Documentation'
			and enc.CmsDiscipline in (
										'Physical Therapy Assistant'
										,'Speech-Language Pathologist'
										,'Occupational Therapist'
										,'Physical Therapist'
										,'Licensed Practical Nurse'
										,'Registered Nurse'
										,'Occupational Therapy Assistant')
	end

	-- delete previous month's data
	drop table if exists #prevMonth
	create table #prevMonth (PatientDurableKey bigint, HomeCareEpisodeKey bigint, EncounterKey bigint)

	delete #encounters
	output deleted.PatientDurableKey, deleted.HomeCareEpisodeKey, deleted.EncounterKey into #prevMonth
	where EncounterDateKey between @StartDateLBInt and @EndDateLBInt	
	
	drop table if exists #viscounts
	select distinct PatientDurableKey, HomeCareEpisodeKey
			, count(EncounterKey) over (partition by PatientDurableKey, HomeCareEpisodeKey) lbcount
	into #viscounts
	from #prevMonth		

	-- update count
	update #encounters  
	set Viscount = c.ct
	from #encounters e
		join (select PatientDurableKey, HomeCareEpisodeKey, count(EncounterKey) over (partition by PatientDurableKey, HomeCareEpisodeKey) ct from #encounters) c
		on e.PatientDurableKey = c.PatientDurableKey and e.HomeCareEpisodeKey = c.HomeCareEpisodeKey
			
	-- roll up Home Health Visit Type, Assement reason from encounter level to episode  
	drop table if exists #rollupTbl
	select distinct  enc.PatientDurableKey, enc.HomeCareEpisodeKey
		, stuff((select '' + isPvisit 	from #encounters where HomeCareEpisodeKey = enc.HomeCareEpisodeKey  for xml path('')),1,0,'') HHvisitType
		, max(AssessmentReason) over (partition by enc.HomeCareEpisodeKey) AssessmentReasonNumber 
		,  payors = case when cov1.PayorFinancialClass in ('Medicaid', 'Medicare') then 1 else 0 end + 
					case when cov2.PayorFinancialClass in ('Medicaid', 'Medicare') then 1 else 0 end +
					case when cov3.PayorFinancialClass in ('Medicaid', 'Medicare') then 1 else 0 end +
					case when cov4.PayorFinancialClass in ('Medicaid', 'Medicare') then 1 else 0 end +
					case when cov5.PayorFinancialClass in ('Medicaid', 'Medicare') then 1 else 0 end
	into #rollupTbl
	from #encounters enc 
		inner join 
		(	
			select distinct enc.PatientDurableKey, bill.PrimaryCoverageKey, bill.SecondCoverageKey, bill.ThirdCoverageKey, bill.FourthCoverageKey, bill.FifthCoverageKey
			from #encounters enc
			inner join CDW_report.FullAccess.BillingAccountFact  bill (nolock) on enc.BillingAccountKey = bill.BillingAccountKey and PrimaryCoverageKey <> -1
		) d	on enc.PatientDurableKey = d.PatientDurableKey
			inner join CDW_report.FullAccess.CoverageDim cov1 (nolock) on d.PrimaryCoverageKey = cov1.CoverageKey 
			left join CDW_report.FullAccess.CoverageDim cov2 (nolock) on d.SecondCoverageKey = cov2.CoverageKey and SecondCoverageKey <> '-1'
			left join CDW_report.FullAccess.CoverageDim cov3 (nolock) on d.ThirdCoverageKey = cov3.CoverageKey and ThirdCoverageKey <> '-1'
			left join CDW_report.FullAccess.CoverageDim cov4 (nolock) on d.FourthCoverageKey = cov4.CoverageKey and FourthCoverageKey <> '-1'
			left join CDW_report.FullAccess.CoverageDim cov5 (nolock) on d.FifthCoverageKey = cov5.CoverageKey and FifthCoverageKey <> '-1'
	
	-- exclude Patients with Zero (0) Skilled Visits
	delete from #encounters where HomeCareEpisodeKey in (select HomeCareEpisodeKey from #rollupTbl where HHvisitType not like '%0%')
	
	-- get ADL data 
	drop table if exists #patADL   
	select distinct PatientDurableKey, /* HomeCareEpisodeKey, EncounterKey,EncounterDateKey,*/[323] M1850,[896] M1820,[1353] M1830,[1496] M1840,[2177] M1810,[3171] M1870
	into #patADL
	from 
		(
			--take latest encounter info
			select * from (
				select eL.PatientDurableKey, HomeCareEpisodeKey, eL.EncounterKey, eL.EncounterDateKey, encAtt.Value ADLvalue, encAtt.AttributeKey
					, el.AdmissionSourceCode, el.AdmissionSource
					, ROW_NUMBER() over (partition by eL.PatientDurableKey, HomeCareEpisodeKey, encAtt.AttributeKey order by EncounterDateKey desc) rn
				from #encounters eL
					inner join CDW_report.FullAccess.EncounterAttributeValueDim encAtt (nolock) on eL.EncounterKey = encAtt.EncounterKey and IsCurrent = 1
					where encAtt.AttributeKey in ( 
												'323'	--	HOME HEALTH OASIS - M1850 TRANSFERRING	OASIS#M1850
												,'896'	--	HOME HEALTH OASIS - M1820 ABILITY TO DRESS LOWER BODY	OASIS#M1820
												,'1353'	--HOME HEALTH OASIS - M1830 BATHING	OASIS#M1830
												,'1496'	--HOME HEALTH OASIS - M1840 TOILET TRANSFERRING	OASIS#M1840
												,'2177'	--HOME HEALTH OASIS - M1810 ABILITY TO DRESS UPPER BODY	OASIS#M1810
												,'3171'	--HOME HEALTH OASIS - M1870 FEEDING OR EATING	OASIS#M1870
							) 
				)latestEnc where rn = 1
		) as src
		pivot (
			max(ADLvalue) for AttributeKey in ([323],[896],[1353],[1496],[2177],[3171])
		) as piv

		-- since there are 700+ patients (out of 1100+ patients in Jan.2025) lack of this data group in Caboodle
		-- have to join back to Clarity to get them
		drop table if exists #ADLtemp
		select distinct PatientDurableKey, eData.ELEMENT_ID AttributeKey, eVal.SMRTDTA_ELEM_VALUE ADLvalue -- , ADLvalue = CASE WHEN ISNUMERIC(eVal.SMRTDTA_ELEM_VALUE)=1 THEN CONVERT(int,eVal.SMRTDTA_ELEM_VALUE) ELSE NULL END --AS SMRTDTA_ELEM_VALUE_INT
		into #ADLtemp
		from (
			select ROW_NUMBER() over (partition by RECORD_ID_VARCHAR, ELEMENT_ID order by CUR_VALUE_DATETIME desc) rn
				, HLV_ID, ELEMENT_ID, RECORD_ID_VARCHAR , PatientDurableKey
			from CLARITY.dbo.SMRTDTA_ELEM_DATA s
				inner join (
					select en.PatientDurableKey, pt.PatientEpicId
					from #encounters en
						inner join CDW_report.FullAccess.PatientDim pt on en.PatientDurableKey = pt.DurableKey  and IsCurrent = 1
					where en.PatientDurableKey not in (select distinct PatientDurableKey from #patADL)
				)patID
				on s.RECORD_ID_VARCHAR = patID.PatientEpicId
				and s.ELEMENT_ID IN ('OASIS#M1810','OASIS#M1820','OASIS#M1830','OASIS#M1840','OASIS#M1850','OASIS#M1870') 
			) eData
			inner join  CLARITY.dbo.SMRTDTA_ELEM_VALUE eVal ON eData.HLV_ID = eVal.HLV_ID
			where rn = 1 
		
		insert into #patADL
		select PatientDurableKey, [OASIS#M1850] M1850 , [OASIS#M1820] M1820, [OASIS#M1830] M1830, [OASIS#M1840] M1840,[OASIS#M1810] M1810,[OASIS#M1870] M1870
		from (
			select * from #ADLtemp
		)as src
		pivot (
			min(ADLvalue) for AttributeKey in ([OASIS#M1850] , [OASIS#M1820], [OASIS#M1830], [OASIS#M1840],[OASIS#M1810],[OASIS#M1870])
		) as piv
	

	-- START GETING LIST @EPISODE LEVEL
	drop table if exists #episodes		-- this table shows that in Nov.2024, there are 16 patients that have 2 episodes in this month
	select distinct HomeCareEpisodeKey, PatientDurableKey, AdmissionSourceCode, AdmissionSource, DepartmentName, Viscount
	into #episodes 
	from #encounters		
	
	-- get source of admission
	-- take the one with latest EncounterDateKey
	drop table if exists #adminSource
	select top 1 with ties
		PatientDurableKey, HomeCareEpisodeKey, encAtt.[Value] SourceOfAdmissionCode,EncounterDateKey
	into #adminSource
	from #encounters eL 
		inner join CDW_report.FullAccess.EncounterAttributeValueDim encAtt (nolock) on eL.EncounterKey = encAtt.EncounterKey and IsCurrent = 1
	where encAtt.AttributeKey = '1294' -- HOME HEALTH OASIS - M1000 INPATIENT FACILITIES OASIS#M1000
	order by ROW_NUMBER() over (partition by PatientDurableKey, HomeCareEpisodeKey order by EncounterDateKey desc)
	
	--get patient's primary & combo diagnosis
	drop table if exists #patDiag
	select  PatientDurableKey, PrimaryDiag
		, max(case when rn = 1 then DiagName end) as OtherDiag1
		, max(case when rn = 2 then DiagName end) as OtherDiag2
		, max(case when rn = 3 then DiagName end) as OtherDiag3
		, max(case when rn = 4 then DiagName end) as OtherDiag4
		, max(case when rn = 5 then DiagName end) as OtherDiag5	
		,sum(PVal) sumVal
	into #patDiag
	from 
	(	
		select  enc.PatientDurableKey
			,  diagT.[Value] PrimaryDiag , diagT2.[Value] DiagName 
			, PVal = case when diagT.Value = 'N18.6' then 1 -- indicate End Stage Renal Disease
						  when diagT2.Value = 'N18.6' then 1 
						  else 0 end
			, ROW_NUMBER() over (partition by enc.PatientDurableKey order by diagB.DiagnosisKey) rn
		from
			( 
				select distinct e.PatientDurableKey, b.PrimaryDiagnosisKey, b.DiagnosisComboKey  
				from #encounters e
					inner join CDW_report.FullAccess.BillingAccountFact b (nolock) on e.BillingAccountKey = b.BillingAccountKey
				where PrimaryDiagnosisKey <> -1 and DiagnosisComboKey <> -1
			) enc			 
				inner join CDW_Report.FullAccess.DiagnosisDim diag (nolock) on enc.PrimaryDiagnosisKey = diag.DiagnosisKey 
					inner join CDW_report.FullAccess.DiagnosisTerminologyDim diagT (nolock) on diag.DiagnosisKey = diagT.DiagnosisKey and diagT.Type = 'ICD-10-CM'
				left join CDW_Report.FullAccess.DiagnosisBridge diagB (nolock) on enc.DiagnosisComboKey = diagB.DiagnosisComboKey 
					inner join CDW_report.FullAccess.DiagnosisTerminologyDim diagT2 (nolock) on diagB.DiagnosisKey = diagT2.DiagnosisKey and diagT2.Type = 'ICD-10-CM'
	)t
	group by PatientDurableKey, PrimaryDiag

	-- pivot visittype
	drop table if exists #visitType
	select *
	into #visitType
	from 
		(
			select distinct PatientDurableKey, CmsDiscipline, '1' hasService from #encounters
		)as src
		pivot (
			max(hasService) for CmsDiscipline in ([Physical Therapist],[Physical Therapy Assistant], [Home Health Aide], [Medical Social Worker], [Occupational Therapist], [Occupational Therapy Assistant], [Homemaker], [Speech-Language Pathologist])
		)piv

	select @tot = count(distinct PatientDurableKey) from #encounters

	-- OUTPUT DATASET
	
	select top 1 with ties	
		[Survey Designator] = 'HH0101'
		, [Client ID] = case when encL.HomeCareCCN ='207012' then 49790 
						  when encL.HomeCareCCN = '207000' then 49791 end
		, [First Name] = pat.FirstName
		, [Middle Initial] = case when pat.MiddleName is not null or pat.MiddleName <> '' then substring(pat.MiddleName, 0, 1) else null end
		, [Last Name] = pat.LastName
		, [Address 1] = pat.AddressLine1_X
		, [Address 2] = pat.AddressLine2_X
		, [City] = pat.City
		, [State] = pat.StateOrProvinceAbbreviation
		, [ZIP Code] = pat.PostalCode
		, [Phone] = pat.HomePhoneNumber
		, [Home Health Visit Type] = COALESCE(case when rUp.HHvisitType = '1' then '1'
												   when rUp.HHvisitType not like '%1%' then '2'
												   when rUp.HHvisitType like '%01%' or rUp.HHvisitType like '%10%' then '3'
											  end, '')
		, [Start of Care Date] = sdat.DisplayString
		, [Assessment Reason] = COALESCE(case rUp.AssessmentReasonNumber when '*' then null else rUp.AssessmentReasonNumber end, '')
		, [Discharge Date] = case when HCepisod.EpisodeDischargeDateKey <> '-1' then ddat.DisplayString else '' end
		, [Date of Birth] =  convert(varchar(10), pat.BirthDate, 101)
		, [Language] = case when pat.PreferredWrittenLanguage_X like '%Spanish%' then '1' -- PG has only 5 languages available for this survey
							when pat.PreferredWrittenLanguage_X like '%Russian%' then '3'
							when pat.PreferredWrittenLanguage_X like '%Chinese%' then '10'
							when pat.PreferredWrittenLanguage_X  = 'Vietnamese' then '13'
							else '0' end -- default to English
		, [Gender] = case pat.Sex when 'Male' then '1' when 'Female' then '2' else '' end
		, [Patient ID Number] = pat.EnterpriseId
		, [Surgical Discharge] = case HCepisod.AdmissionSourceCode 
									when '23' then 1
									else 0
								 end -- AdmissionSource = Transfer from Ambulatory Surgery Center
		, [End Stage Renal Disease] = case when diag.sumVal > 0 then 1 else 0 end
		, [Payment Source – None] = case when HHcert.PaymentSource = 'None' then 1 else 0 end
		, [Payment Source – Medicare] = case when HHcert.PaymentSource = 'Medicare (traditional fee-for-service)' then 1 else 0 end
		, [Payment Source – Medicare HMO] = case when HHcert.PaymentSource = 'Medicare (HMO/managed care/Advantage plan)' then 1 else 0 end
		, [Payment Source – Medicaid] = case when HHcert.PaymentSource = 'Medicaid (traditional fee-for-service)' then 1 else 0 end
		, [Payment Source – Medicaid HMO] = case when HHcert.PaymentSource = 'Medicaid (HMO/managed care)' then 1 else 0 end
		, [Payment Source – Workers Comp] = case when HHcert.PaymentSource = 'Workers'' compensation' then 1 else 0 end
		, [Payment Source – Title programs] = case when HHcert.PaymentSource = 'Title programs' then 1 else 0 end
		, [Payment Source – Other Government ] = case when HHcert.PaymentSource = 'Other government (e.g., TriCare, VA, etc.)' then 1 else 0 end
		, [Payment Source – Private Ins.] = case when HHcert.PaymentSource = 'Private Insurance' then 1 else 0 end
		, [Payment Source – Private HMO] = case when HHcert.PaymentSource = 'Private HMO/managed care' then 1 else 0 end
		, [Payment Source – Self-pay] = case when HHcert.PaymentSource = 'Self-Pay' then 1 else 0 end
		, [Payment Source – Other] = case when HHcert.PaymentSource = 'Other' then 1 else 0 end
		, [Payment Source – Unknown] = case when HHcert.PaymentSource = 'Unknown' then 1 else 0 end
		, [HMO] = case when  HHcert.PaymentSource in ('Medicare (HMO/managed care/Advantage plan)'
													  ,'Medicaid (HMO/managed care)'
													  ,'Private HMO/managed care') then '1'   
					   when  HHcert.PaymentSource is null then 'M'
					   else '2' 
				  end
		, [Source of Admission – NF] = case when admss.SourceOfAdmissionCode = '1' then 1 else 0 end
		, [Source of Admission – SNF] = case when admss.SourceOfAdmissionCode = '2' then 1 else 0 end
		, [Source of Admission – IPPS] = case when admss.SourceOfAdmissionCode = '3' then 1 else 0 end
		, [Source of Admission – LTCH] = case when admss.SourceOfAdmissionCode = '4' then 1 else 0 end
		, [Source of Admission – IRF] = case when admss.SourceOfAdmissionCode = '5' then 1 else 0 end
		, [Source of Admission – Psych] =  case when admss.SourceOfAdmissionCode = '6' then 1 else 0 end
		, [Source of Admission – Other] = case when admss.SourceOfAdmissionCode = '7' then 1 else 0 end
		, [Source of Admission – None] = case when admss.SourceOfAdmissionCode = '8' then 1 else 0 end
		, [Dual Eligibility] = case when rUp.payors = 2 then 1															
									else 2 end -- how to define 3,M?
		, [Primary Diagnosis – ICD-10] = coalesce(diag.PrimaryDiag, '') -- diag.Name ??
		, [Other Diagnosis 1] = coalesce(diag.OtherDiag1, '')
		, [Other Diagnosis 2] = coalesce(diag.OtherDiag2, '')
		, [Other Diagnosis 3] = coalesce(diag.OtherDiag3, '')
		, [Other Diagnosis 4] = coalesce(diag.OtherDiag4, '')
		, [Other Diagnosis 5] = coalesce(diag.OtherDiag5, '')
		-- Per Chris Hanson, Referral Source is HSB 27740
		, [Referral Source] = case when encL.AdmissionSourceCode in ('4','23', '6','5', '24') then '2' -- from hospital
								when encL.AdmissionSourceCode in ('2') then '1' -- from physician's office
								else '7' end -- other
		, [Physical Therapy] = isnull(coalesce(vtype.[Physical Therapist], vtype.[Physical Therapy Assistant]), 2)
		, [Home Health Aide] = 2
		, [Social Service] = 2
		, [Occupational Therapy] = isnull(coalesce(vtype.[Occupational Therapist], vtype.[Occupational Therapy Assistant]), 2)
		, [Companion/Homemaker] = 2
		, [Speech Therapy] = isnull(vtype.[Speech-Language Pathologist] , 2)
		, [ADL - Dress Upper Body] = isnull(ADL.M1810, 'UK')
		, [ADL - Dress Lower Body] = isnull(ADL.M1820, 'UK')
		, [ADL - Bathing] = isnull(ADL.M1830, 'UK')
		, [ADL - Toileting] = isnull(ADL.M1840, 'UK')
		, [ADL - Transferring] = isnull(ADL.M1850, 'UK')
		, [ADL - Feeding or Eating] = isnull(ADL.M1870, 'UK')
		, [Viscount] = coalesce(encL.Viscount, 0)
		, [Lookback] = coalesce(vcount.lbcount, 0) + coalesce(encL.Viscount, 0)
		, [Sample Month] = SUBSTRING(cast(encL.EncounterDateKey as varchar(8)), 5, 2)
		, [Sample Year] = left(encL.EncounterDateKey,4)
		, [Branch] = encL.DepartmentName 
		, [Team] = HHcert.TeamAssignment  
		, [Total Patients Served] = @tot
		, [Email] = pat.EmailAddress
		, [Race] = pat.FirstRace
		, [Ethnicity] = pat.Ethnicity
		, '$' EOR

	from #encounters encL 
		inner join CDW_report.dbo.HomeCareEpisodeFact HCepisod (nolock) on encL.HomeCareEpisodeKey = HCepisod.HomeCareEpisodeKey and HCepisod.HomeCareType = 'Home Health' -- filter out patient in hospice care
			inner join CDW_report.FullAccess.DateDim sdat (nolock) on HCepisod.EpisodeAdmitDateKey = sdat.DateKey
			inner join CDW_report.FullAccess.DateDim ddat (nolock) on HCepisod.EpisodeAdmitDateKey = ddat.DateKey
			left join CDW_report.FullAccess.HomeHealthCertificationPeriodFact HHcert (nolock) on HCepisod.HomeCareEpisodeKey = HHcert.HomeCareEpisodeKey
		inner join CDW_report.dbo.PatientDim pat (nolock) on encL.PatientDurableKey = pat.DurableKey and IsCurrent = 1 and pat.Test = 0
		left join #rollupTbl rUp on encL.HomeCareEpisodeKey = rUp.HomeCareEpisodeKey
		left join #patDiag diag on encL.PatientDurableKey = diag.PatientDurableKey --and encL.PatientKey = diag.PatientKey
		left join #patADL ADL on encL.PatientDurableKey = ADL.PatientDurableKey --and encL.PatientKey = ADL.PatientKey
		left join #viscounts vcount on encL.PatientDurableKey = vcount.PatientDurableKey
		left join #visitType vtype on encL.PatientDurableKey = vtype.PatientDurableKey
		left join #adminSource admss on encL.HomeCareEpisodeKey = admss.HomeCareEpisodeKey
	order by ROW_NUMBER() over (partition by pat.EnterpriseId, encL.HomeCareEpisodeKey order by pat.LastName)

END TRY
BEGIN CATCH
	EXEC [ETLProcedureRepository].[dbo].[sp_logErrorInfo] 'VMMHSQLSSIS.SSISDB.DE_EpicExtracts.HHCAHPS' ;
	THROW;
END CATCH

